<template to='bp-template'>
  <nav class='navbar navbar-expand-lg navbar-dark bg-dark' id='navbar'>
    <div class='container'>

      <a class='navbar-brand' expr:href='data:blog.homepageUrl'>
        <data:blog.title/>
      </a>

      <b:comment>Show the collapsible content if the `navbar-section-left` or `navbar-section-right` has any widgets or has any visible widgets.</b:comment>
      <b:if cond='data:widgets any (w =&gt; w.sectionId in {"navbar-section-left", "navbar-section-right"})'>
        <button aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation' class='navbar-toggler' data-target='#navbarCollapse' data-toggle='collapse' type='button'>
          <span class='navbar-toggler-icon'></span>
        </button>

        <div class='collapse navbar-collapse' id='navbarCollapse'>
          {% template "./navbar.part/navbar-section-left.njk" %}
          {% template "./navbar.part/navbar-section-right.njk" %}
        </div>
      </b:if>

    </div>
  </nav>
</template>
