/* ==========================================================================
   Nav and content
   ========================================================================== */

/* Nav
   ========================================================================== */

.doc-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  z-index: 1030;
  width: 100%;
  padding-bottom: 1rem;
  overflow-y: auto;
  background-color: #212529;
}

.doc-nav-link {
  display: block;
  padding: .5rem 1rem;
  color: #eee;
  text-decoration: none;
  border-left: 4px solid transparent;
}
.doc-nav-link:hover {
  color: #fff;
  text-decoration: none;
  background-color: #171a1d;
}
.doc-nav-link.active {
  color: #fff;
  background-color: #131619;
  border-color: #ff5722;
}
.doc-nav-link:first-child {
  margin-top: .5rem;
}

.doc-nav-header {
  padding: 0 1rem;
  margin: .5rem 0;
  font-size: .75rem;
  color: #9d9d9d;
  text-transform: uppercase;
  border-left: 4px solid transparent;
}

.doc-nav-subheader {
  padding: .5rem 0;
  margin: .5rem 1rem;
  font-size: .65rem;
  color: #9d9d9d;
  text-transform: uppercase;
  border-top: 1px solid #32383e;
  border-bottom: 1px solid #32383e;
  border-left: 4px solid transparent;
}

.doc-nav-divider {
  height: 0;
  margin: .5rem 0;
  overflow: hidden;
  border-top: 1px solid #32383e;
}
.doc-nav-divider + .doc-nav-header {
  margin-top: 1rem;
}

.doc-nav-toggle {
  position: fixed;
  bottom: 0;
  left: -100%;
  z-index: 1030;
  display: block;
  padding: .5rem;
  margin: 1rem;
  line-height: 0;
  color: #fff;
  cursor: pointer;
  background-color: #ff5722;
  border: 1px solid #f4511e;
  border-radius: 50%;
  box-shadow: 0 1px 4px rgba(0,0,0,.4);
}
.doc-nav-toggle:hover {
  color: #fff;
  background-color: #f4511e;
  border-color: #e64a19;
}
.doc-nav-toggle:focus {
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(255,87,34,.5);
}

/* Content
   ========================================================================== */

.doc-content {
  padding: 1rem;
  padding-top: 0;
}

.doc-content > h3,
.doc-content > h4,
.doc-content > h5,
.doc-content > h6,
.doc-content > p,
.doc-content > ol,
.doc-content > ul,
.doc-content > dl,
.doc-content > table,
.doc-content > blockquote,
.doc-content > address,
.doc-content > figure,
.doc-content > pre {
  margin-top: 0;
  margin-bottom: 1rem;
}

.doc-content > table {
  display: block;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  background-color: transparent;
}
.doc-content > table th,
.doc-content > table td {
  padding: .75rem;
  vertical-align: top;
  border: 1px solid #dee2e6;
}
.doc-content > table thead th {
  color: #212529;
  vertical-align: bottom;
  background-color: #f8f9fa;
  border-bottom: 2px solid #dee2e6;
}
.doc-content > table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.doc-content > pre {
  display: block;
  padding: 1rem;
  overflow: auto;
  font-size: 85%;
  color: #212529;
  background-color: #f8f9fa;
  border-radius: .25rem;
}

.doc-content > .v-info {
  padding: .5rem 1rem;
  margin-right: -1rem;
  margin-left: -1rem;
  font-size: .75rem;
  color: #fff;
  background-color: #40454a;
}
.doc-content > .v-info > ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
.doc-content > .v-info > ul > li {
  display: inline-block;
}
.doc-content > .v-info > ul > li:not(:last-child) {
  margin-right: 1rem;
}

.doc-content > h1 {
  padding: 1rem;
  margin-top: 0;
  margin-right: -1rem;
  margin-bottom: 1rem;
  margin-left: -1rem;
  color: #212529;
  background-color: #f8f9fa;
  border-bottom: 4px solid #dee2e6;
}

.doc-content > h2 {
  padding: 1rem;
  margin-top: 1rem;
  margin-right: -1rem;
  margin-bottom: 1rem;
  margin-left: -1rem;
  color: #212529;
  background-color: #f8f9fa;
  border-top: 2px solid #dee2e6;
  border-bottom: 2px solid #dee2e6;
}

.doc-content > .doc-example {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #fff;
  border: 2px solid #f8f9fa;
}
.doc-content > .doc-example::after {
  display: block;
  clear: both;
  content: "";
}
.doc-content > .doc-example + pre {
  margin-top: -1rem;
  border-radius: 0;
}

/* Responsive
   ========================================================================== */

@media (min-width: 768px) {
  .doc-nav {
    left: 0;
    width: 230px;
    overflow-y: hidden;
  }
  .doc-nav:hover {
    overflow-y: auto;
  }
  .doc-content {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    margin-left: 230px;
  }
  .doc-content > .v-info,
  .doc-content > h1,
  .doc-content > h2 {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    margin-right: -2.5rem;
    margin-left: -2.5rem;
  }
}

@media (min-width: 992px) {
  .doc-nav {
    left: 0;
    width: 250px;
    overflow-y: hidden;
  }
  .doc-nav:hover {
    overflow-y: auto;
  }
  .doc-content {
    padding-right: 5rem;
    padding-left: 5rem;
    margin-left: 250px;
  }
  .doc-content > .doc-example {
    padding: 1.5rem;
  }
  .doc-content > .v-info,
  .doc-content > h1,
  .doc-content > h2 {
    padding-right: 5rem;
    padding-left: 5rem;
    margin-right: -5rem;
    margin-left: -5rem;
  }
}

@media (max-width: 767.98px) {
  .doc-nav,
  .doc-content {
    padding-bottom: 5rem;
  }
  .doc-nav-toggle {
    left: 0;
  }
  .is--doc-nav--active {
    overflow: hidden;
  }
  .is--doc-nav--active .doc-nav {
    left: 0;
  }
}

.doc-nav,
.doc-nav-toggle,
.doc-content {
  transition: all .25s ease-out;
}

/* ==========================================================================
   highlight.js
   ========================================================================== */

/* github.com style (c) Vasily Polovnyov <vast@whiteants.net> */

.hljs-comment,
.diff .hljs-header,
.hljs-javadoc {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.css .rule .hljs-keyword,
.hljs-winutils,
.nginx .hljs-title,
.hljs-subst,
.hljs-request,
.hljs-status {
  color: #212529;
  font-weight: bold;
}

.hljs-number,
.hljs-hexcolor,
.ruby .hljs-constant {
  color: #008080;
}

.hljs-string,
.hljs-tag .hljs-value,
.hljs-phpdoc,
.hljs-dartdoc,
.tex .hljs-formula {
  color: #d14;
}

.hljs-title,
.hljs-id,
.scss .hljs-preprocessor {
  color: #900;
  font-weight: bold;
}

.hljs-list .hljs-keyword,
.hljs-subst {
  font-weight: normal;
}

.hljs-class .hljs-title,
.hljs-type,
.vhdl .hljs-literal,
.tex .hljs-command {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-tag .hljs-title,
.hljs-rules .hljs-property,
.django .hljs-tag .hljs-keyword {
  color: #000080;
  font-weight: normal;
}

.hljs-attribute,
.hljs-variable,
.lisp .hljs-body {
  color: #008080;
}

.hljs-regexp {
  color: #009926;
}

.hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.lisp .hljs-keyword,
.clojure .hljs-keyword,
.scheme .hljs-keyword,
.tex .hljs-special,
.hljs-prompt {
  color: #990073;
}

.hljs-built_in {
  color: #0086b3;
}

.hljs-preprocessor,
.hljs-pragma,
.hljs-pi,
.hljs-doctype,
.hljs-shebang,
.hljs-cdata {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.diff .hljs-change {
  background: #0086b3;
}

.hljs-chunk {
  color: #aaa;
}
