<template to='bp-template'>
  {# Navbar search form (using `BlogSearch` widget) #}
  <b:widget id='BlogSearch1' locked='false' title='Search' type='BlogSearch' version='2' visible='true'>
    <b:includable id='main'>
      <b:include name='content'/>
    </b:includable>
    <b:includable id='content'>
      <b:class name='mx-lg-1 my-2 my-lg-0'/><!-- add class to `b:widget` -->
      <form class='input-group' expr:action='data:blog.searchUrl'>
        <input class='form-control' expr:aria-label='data:messages.search' expr:placeholder='data:messages.search' name='q' type='search'/>
        <div class='input-group-append'>
          <button class='btn btn-primary' type='submit'>
            <i aria-hidden='true' class='fas fa-search'/>
            <span class='sr-only'><data:messages.search/></span>
          </button>
        </div>
      </form>
    </b:includable>
    {# Remove default includable #}
    <b:includable id='searchForm'/>
    <b:includable id='searchSubmit'/>
  </b:widget>
</template>
