<template to='bp-template'>
  {# Navbar dropdown profile (using `Profile` widget) #}
  <b:widget id='Profile1' locked='false' title='Profile' type='Profile' visible='true'>
    <b:includable id='main' var='this'>
      <b:include name='content'/>
    </b:includable>
    <b:includable id='content'>
      <ul class='navbar-nav'>
        <li class='nav-item dropdown'>
          <a aria-expanded='false' aria-haspopup='true' class='nav-link dropdown-toggle' data-toggle='dropdown' expr:id='"DropdownMenu" + data:widget.instanceId' href='#'>
            <b:eval expr='data:title ? data:title : "Profile"'/>
          </a>
          <div class='dropdown-menu p-1' expr:aria-labelledby='"DropdownMenu" + data:widget.instanceId' style='min-width: 300px;'>
            <b:class cond='data:widget.sectionId == "b-section-navbar-right"' name='dropdown-menu-right'/>
            <b:if cond='data:team'>
              <b:loop values='data:authors' var='author'>
                <div class='navbar-profile navbar-profile-team'>
                  <b:class expr:name='data:author.display-name'/>
                  <div class='navbar-profile-header'/>
                  <div class='navbar-profile-avatar'>
                    <b:if cond='data:author.authorPhoto.image'>
                      <a expr:href='data:author.userUrl'>
                        <img class='navbar-profile-image' expr:alt='data:messages.myPhoto' expr:height='data:author.authorPhoto.height' expr:src='data:author.authorPhoto.image' expr:width='data:author.authorPhoto.width'/>
                      </a>
                    <b:else/>
                      <svg class='navbar-profile-image' viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'>
                        <title>icon</title>
                        <path fill='#ff5722' d='M 4.4504803e-7,0 H 512 V 512 H 4.4504803e-7 Z'/>
                        <path fill='#ffffff' d='m 256.00001,255.99998 c 39.45313,0 71.42854,-27.97852 71.42854,-62.50001 C 327.42855,158.97848 295.4531,131 256.00001,131 c -39.45313,0 -71.42861,27.97848 -71.42861,62.49997 0,34.52149 31.97548,62.50001 71.42861,62.50001 z m 49.99998,15.62502 h -9.31919 c -12.38838,4.98044 -26.17186,7.81248 -40.68079,7.81248 -14.50896,0 -28.23662,-2.83204 -40.68083,-7.81248 H 206 c -41.40624,0 -75,29.39449 -75,65.625 v 20.31251 C 131,370.50195 142.99777,381 157.7857,381 H 354.21425 C 369.00225,381 381,370.50195 381,357.56251 V 337.25 c 0,-36.23051 -33.59374,-65.62504 -75.00001,-65.625 z'/>
                      </svg>
                    </b:if>
                  </div>
                  <div class='navbar-profile-body'>
                    <div class='navbar-profile-block'>
                      <a class='navbar-profile-name' expr:href='data:author.userUrl'><data:author.display-name/></a>
                    </div>
                  </div>
                </div>
              </b:loop>
            <b:else/>
              <div class='navbar-profile navbar-profile-individual'>
                <b:class expr:name='data:displayname'/>
                <div class='navbar-profile-header'/>
                <div class='navbar-profile-avatar'>
                  <b:if cond='data:authorPhoto.image'>
                    <a expr:href='data:userUrl'>
                      <img class='navbar-profile-image' expr:alt='data:messages.myPhoto' expr:height='data:authorPhoto.height' expr:src='data:authorPhoto.image' expr:width='data:authorPhoto.width'/>
                    </a>
                  <b:else/>
                    <svg class='navbar-profile-image' viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'>
                      <title>icon</title>
                      <path fill='#ff5722' d='M 4.4504803e-7,0 H 512 V 512 H 4.4504803e-7 Z'/>
                      <path fill='#ffffff' d='m 256.00001,255.99998 c 39.45313,0 71.42854,-27.97852 71.42854,-62.50001 C 327.42855,158.97848 295.4531,131 256.00001,131 c -39.45313,0 -71.42861,27.97848 -71.42861,62.49997 0,34.52149 31.97548,62.50001 71.42861,62.50001 z m 49.99998,15.62502 h -9.31919 c -12.38838,4.98044 -26.17186,7.81248 -40.68079,7.81248 -14.50896,0 -28.23662,-2.83204 -40.68083,-7.81248 H 206 c -41.40624,0 -75,29.39449 -75,65.625 v 20.31251 C 131,370.50195 142.99777,381 157.7857,381 H 354.21425 C 369.00225,381 381,370.50195 381,357.56251 V 337.25 c 0,-36.23051 -33.59374,-65.62504 -75.00001,-65.625 z'/>
                    </svg>
                  </b:if>
                </div>
                <div class='navbar-profile-body'>
                  <b:class cond='data:showlocation and data:location != &quot;&quot;' name='has-location'/>
                  <div class='navbar-profile-block'>
                    <a class='navbar-profile-name' expr:href='data:userUrl'>
                      <data:displayname/>
                    </a>
                  </div>
                  <b:if cond='data:aboutme != ""'>
                    <div class='navbar-profile-block'>
                      <div class='navbar-profile-text'><data:aboutme/></div>
                    </div>
                  </b:if>
                  <b:if cond='data:hasgoogleprofile'>
                    <div class='navbar-profile-block'>
                      <div class='g-follow' data-annotation='bubble' data-height='20' expr:data-href='data:userUrl'/>
                    </div>
                  </b:if>
                  <b:if cond='data:showlocation and data:location != ""'>
                    <div class='navbar-profile-block'>
                      <div class='navbar-profile-text'><data:location/></div>
                    </div>
                  </b:if>
                </div>
              </div>
            </b:if>
          </div>
        </li>
      </ul>
    </b:includable>
    {# Remove default includable #}
    <b:includable id='authorProfileImage'/>
    <b:includable id='defaultProfileImage'/>
    <b:includable id='profileImage'/>
    <b:includable id='teamProfile'/>
    <b:includable id='teamProfileLink'/>
    <b:includable id='userGoogleProfile'/>
    <b:includable id='userLocation'/>
    <b:includable id='userProfile'/>
    <b:includable id='userProfileData'/>
    <b:includable id='userProfileImage'/>
    <b:includable id='userProfileInfo'/>
    <b:includable id='userProfileLink'/>
    <b:includable id='userProfileText'/>
    <b:includable id='viewProfileLink'/>
  </b:widget>
</template>

<style to='bp-sass'>
//
// Base class
//

.navbar-profile {
  margin-bottom: 1rem;
  text-align: center;
  background-color: $gray-100;
  @include border-radius($border-radius);

  &:last-child {
    margin-bottom: 0;
  }
}


//
// Header
//

.navbar-profile-header {
  height: 100px;
  background-color: $gray-500;
  @include border-top-left-radius($border-radius);
  @include border-top-right-radius($border-radius);
}


//
// Avatar
//

.navbar-profile-avatar {
  position: relative;
  top: -50px;
  margin-bottom: -50px;
}

.navbar-profile-image {
  width: 100px;
  max-width: 100px;
  height: 100px;
  max-height: 100px;
  vertical-align: middle;
  border: 5px solid rgba(#fff, .5);
  @include border-radius(50%);
}


//
// Body
//

.navbar-profile-body {
  padding: .5rem 1rem 1rem;
}

.navbar-profile-block {
  margin-bottom: .5rem;
  line-height: 1;

  &:last-child {
    margin-bottom: 0;
  }
}

.navbar-profile-name {
  display: inline-block;
  color: $gray-900;
  font-weight: 700;
  @include font-size(1rem);
  line-height: 1.2;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $gray-900;
    text-decoration: none;
  }
}

.navbar-profile-text {
  color: $gray-700;
  font-weight: 400;
  @include font-size(.875rem);
  line-height: 1.3;
}
</style>
