::sass::
.sass-foo {}
::endsass::

=================================================

::skin::
.skin-foo {}
::endskin::

=================================================

::js::
console.log('js-foo');
::endjs::
