::sass::


.sass-bar {}


::endsass::

=================================================

::skin::


.skin-bar {}


::endskin::

=================================================

::js::


console.log('js-bar');


::endjs::
