<template to='bp-template'>
  <b:comment>### Homepage ###</b:comment>

  <b:if cond='data:view.isHomepage'>
    <b:if cond='data:posts.empty'>
      <div class='alert alert-warning blog-post-spacer' id='not-found-message' role='alert'>
        <data:messages.theresNothingHere/>
      </div>
    </b:if>
  </b:if>

  <b:comment>### Search (label|query|default) page | Archive page ###</b:comment>

  <b:if cond='data:view.isSearch or data:view.isArchive'>
    <b:if cond='data:posts.empty'>
      <div class='alert alert-warning blog-post-spacer' id='not-found-message' role='alert'>
        <data:messages.noResultsFound/>
      </div>
    </b:if>
  </b:if>
</template>
