<template to='bp-template'>
  <b:if cond='data:posts.notEmpty and !data:view.isPage'>
    <nav class='d-flex flex-nowrap justify-content-between blog-post-spacer' id='pager'>
      <a class='btn btn-outline-primary' id='pager-newer' role='button'>
        <b:attr expr:value='data:newerPageUrl ? data:newerPageUrl : "#"' name='href'/>
        <b:class cond='!data:newerPageUrl' name='disabled'/>
        <data:messages.newer/>
      </a>

      <a class='btn btn-outline-primary' id='pager-home' role='button'>
        <b:attr expr:value='data:blog.homepageUrl' name='href'/>
        <data:messages.home/>
      </a>

      <a class='btn btn-outline-primary' id='pager-older' role='button'>
        <b:attr expr:value='data:olderPageUrl ? data:olderPageUrl : "#"' name='href'/>
        <b:class cond='!data:olderPageUrl' name='disabled'/>
        <data:messages.older/>
      </a>
    </nav>
  </b:if>
</template>
