<template to='bp-template'>
  <b:comment>### Homepage | Search (label|query|default) page | Archive page ###</b:comment>

  <b:if cond='data:posts.notEmpty'>
    <b:if cond='data:view.isMultipleItems'>
      <b:loop values='data:posts' var='post'>
        <article class='card blog-post-spacer' expr:id='"post-" + data:post.id'>

          <div class='card-body'>
            <b:comment>=== Labels ===</b:comment>
            <b:if cond='data:post.labels'>
              <div class='post-spacer'>
                <b:loop index='i' values='data:post.labels' var='label'>
                  <a class='d-inline-block small text-muted' expr:href='params(data:label.url, { max-results: "12" })'>
                    <data:label.name/>
                  </a>
                  <!-- separator --><b:if cond='data:i != (data:post.labels.size - 1)'><span class='text-muted'>·</span></b:if>
                </b:loop>
              </div>
            </b:if>

            <b:comment>=== Title ===</b:comment>
            <h2 class='post-spacer'>
              <a class='text-dark' expr:href='data:post.link ?: data:post.url'>
                <b:eval expr='data:post.title ? data:post.title : data:messages.noTitle'/>
              </a>
            </h2>

            <b:comment>=== Meta ===</b:comment>
            <div class='media small text-muted post-spacer'>
              <b:comment>=== Author photo ===</b:comment>
              <b:with value='42' var='size'>
                <b:with value='"1:1"' var='ratio'>
                  <b:if cond='data:post.author and data:post.author.authorPhoto'>
                    <img>
                      <!-- class --><b:class name='rounded-circle mr-2'/>
                      <!-- width --><b:attr name='width' value='42'/>
                      <!-- height --><b:attr name='height' value='42'/>
                      <!-- src --><b:attr expr:value='data:post.author.authorPhoto.image.isResizable ? resizeImage(data:post.author.authorPhoto.image, data:size, data:ratio) : data:post.author.authorPhoto.image' name='src'/>
                      <!-- alt --><b:attr expr:value='data:post.author.name' name='alt'/>
                      <b:attr name='b:whitespace' value='remove'/>
                    </img>
                  <b:else/><!-- fallback -->
                    <svg class='rounded-circle mr-2' height='42' viewBox='0 0 512 512' width='42' xmlns='http://www.w3.org/2000/svg'>
                      <title>icon</title>
                      <path fill='#ff5722' d='M 4.4504803e-7,0 H 512 V 512 H 4.4504803e-7 Z'/>
                      <path fill='#ffffff' d='m 256.00001,255.99998 c 39.45313,0 71.42854,-27.97852 71.42854,-62.50001 C 327.42855,158.97848 295.4531,131 256.00001,131 c -39.45313,0 -71.42861,27.97848 -71.42861,62.49997 0,34.52149 31.97548,62.50001 71.42861,62.50001 z m 49.99998,15.62502 h -9.31919 c -12.38838,4.98044 -26.17186,7.81248 -40.68079,7.81248 -14.50896,0 -28.23662,-2.83204 -40.68083,-7.81248 H 206 c -41.40624,0 -75,29.39449 -75,65.625 v 20.31251 C 131,370.50195 142.99777,381 157.7857,381 H 354.21425 C 369.00225,381 381,370.50195 381,357.56251 V 337.25 c 0,-36.23051 -33.59374,-65.62504 -75.00001,-65.625 z'/>
                    </svg>
                  </b:if>
                </b:with>
              </b:with>

              <div class='media-body'>
                <div>
                  <b:comment>=== Author name ===</b:comment>
                  <span><data:messages.by/></span>
                  <b:if cond='data:post.author.profileUrl'>
                    <a expr:href='data:post.author.profileUrl'>
                      <b:eval expr='data:post.author ? data:post.author.name : "Anonymous"'/>
                    </a>
                  <b:else/><!-- no profileUrl -->
                    <span><b:eval expr='data:post.author ? data:post.author.name : "Anonymous"'/></span>
                  </b:if>
                  <b:comment>=== Date (published) ===</b:comment>
                  <!-- separator --><span>·</span>
                  <span>Published:</span>
                  <time expr:datetime='data:post.date.iso8601' expr:title='data:post.date.iso8601'>
                    <data:post.date/>
                  </time>
                </div>

                <div>
                  <b:comment>=== Date (updated) ===</b:comment>
                  <span>Last updated:</span>
                  <time expr:datetime='data:post.lastUpdated.iso8601' expr:title='data:post.lastUpdated.iso8601'>
                    <data:post.lastUpdated/>
                  </time>
                  <b:comment>=== Comments link ===</b:comment>
                  <b:if cond='data:post.allowComments'>
                    <!-- separator --><span>·</span>
                    <a expr:href='data:post.commentsUrl'>
                      <b:message name='messages.numberOfComments'>
                        <b:param expr:value='data:post.numberOfComments' name='numComments'/>
                      </b:message>
                    </a>
                  </b:if>
                </div>
              </div><!-- /.media-body -->
            </div><!-- /.media -->

            <b:comment>=== Snippet ===</b:comment>
            <div class='post-body post-spacer'>
              <data:post.snippets.short/>
            </div>

            <b:comment>=== Featured image ===</b:comment>
            <b:with value='800' var='size'>
              <b:with value='"16:9"' var='ratio'>
                <b:if cond='data:post.featuredImage'>
                  <div class='post-featured-image post-spacer'>
                    <b:if cond='data:post.featuredImage.isYoutube'>
                      <a expr:href='data:post.link ?: data:post.url'>
                        <img>
                          <!-- src --><b:attr expr:value='data:post.featuredImage.youtubeMaxResDefaultUrl.isResizable ? resizeImage(data:post.featuredImage.youtubeMaxResDefaultUrl, data:size, data:ratio) : data:post.featuredImage.youtubeMaxResDefaultUrl' name='src'/>
                          <!-- alt --><b:attr expr:value='data:post.title ? data:post.title : data:messages.image' name='alt'/>
                          <b:attr name='b:whitespace' value='remove'/>
                        </img>
                      </a>
                    <b:else/>
                      <a expr:href='data:post.link ?: data:post.url'>
                        <img>
                          <!-- src --><b:attr expr:value='data:post.featuredImage.isResizable ? resizeImage(data:post.featuredImage, data:size, data:ratio) : data:post.featuredImage' name='src'/>
                          <!-- alt --><b:attr expr:value='data:post.title ? data:post.title : data:messages.image' name='alt'/>
                          <b:attr name='b:whitespace' value='remove'/>
                        </img>
                      </a>
                    </b:if>
                  </div>
                </b:if>
              </b:with>
            </b:with>
          </div><!-- /.card-body -->

        </article>
      </b:loop>
    </b:if>
  </b:if>

  <b:comment>### Post page ###</b:comment>

  <b:if cond='data:posts.notEmpty'>
    <b:if cond='data:view.isPost'>
      <b:loop values='data:posts' var='post'>
        <article class='card blog-post-spacer' expr:id='"post-" + data:post.id'>

          <div class='card-body'>
            <b:comment>=== Labels ===</b:comment>
            <b:if cond='data:post.labels'>
              <div class='post-spacer'>
                <b:loop index='i' values='data:post.labels' var='label'>
                  <a class='d-inline-block small text-muted' expr:href='params(data:label.url, { max-results: "12" })'>
                    <data:label.name/>
                  </a>
                  <!-- separator --><b:if cond='data:i != (data:post.labels.size - 1)'><span class='text-muted'>·</span></b:if>
                </b:loop>
              </div>
            </b:if>

            <b:comment>=== Title ===</b:comment>
            <h1 class='post-spacer'>
              <b:eval expr='data:post.title ? data:post.title : data:messages.noTitle'/>
            </h1>

            <b:comment>=== Meta ===</b:comment>
            <div class='media small text-muted post-spacer'>
              <b:comment>=== Author photo ===</b:comment>
              <b:with value='42' var='size'>
                <b:with value='"1:1"' var='ratio'>
                  <b:if cond='data:post.author and data:post.author.authorPhoto'>
                    <img>
                      <!-- class --><b:class name='rounded-circle mr-2'/>
                      <!-- width --><b:attr name='width' value='42'/>
                      <!-- height --><b:attr name='height' value='42'/>
                      <!-- src --><b:attr expr:value='data:post.author.authorPhoto.image.isResizable ? resizeImage(data:post.author.authorPhoto.image, data:size, data:ratio) : data:post.author.authorPhoto.image' name='src'/>
                      <!-- alt --><b:attr expr:value='data:post.author.name' name='alt'/>
                      <b:attr name='b:whitespace' value='remove'/>
                    </img>
                  <b:else/><!-- fallback -->
                    <svg class='rounded-circle mr-2' height='42' viewBox='0 0 512 512' width='42' xmlns='http://www.w3.org/2000/svg'>
                      <title>icon</title>
                      <path fill='#ff5722' d='M 4.4504803e-7,0 H 512 V 512 H 4.4504803e-7 Z'/>
                      <path fill='#ffffff' d='m 256.00001,255.99998 c 39.45313,0 71.42854,-27.97852 71.42854,-62.50001 C 327.42855,158.97848 295.4531,131 256.00001,131 c -39.45313,0 -71.42861,27.97848 -71.42861,62.49997 0,34.52149 31.97548,62.50001 71.42861,62.50001 z m 49.99998,15.62502 h -9.31919 c -12.38838,4.98044 -26.17186,7.81248 -40.68079,7.81248 -14.50896,0 -28.23662,-2.83204 -40.68083,-7.81248 H 206 c -41.40624,0 -75,29.39449 -75,65.625 v 20.31251 C 131,370.50195 142.99777,381 157.7857,381 H 354.21425 C 369.00225,381 381,370.50195 381,357.56251 V 337.25 c 0,-36.23051 -33.59374,-65.62504 -75.00001,-65.625 z'/>
                    </svg>
                  </b:if>
                </b:with>
              </b:with>

              <div class='media-body'>
                <div>
                  <b:comment>=== Author name ===</b:comment>
                  <span><data:messages.by/></span>
                  <b:if cond='data:post.author.profileUrl'>
                    <a expr:href='data:post.author.profileUrl'>
                      <b:eval expr='data:post.author ? data:post.author.name : "Anonymous"'/>
                    </a>
                  <b:else/><!-- no profileUrl -->
                    <span><b:eval expr='data:post.author ? data:post.author.name : "Anonymous"'/></span>
                  </b:if>
                  <b:comment>=== Date (published) ===</b:comment>
                  <!-- separator --><span>·</span>
                  <span>Published:</span>
                  <time expr:datetime='data:post.date.iso8601' expr:title='data:post.date.iso8601'>
                    <data:post.date/>
                  </time>
                </div>

                <div>
                  <b:comment>=== Date (updated) ===</b:comment>
                  <span>Last updated:</span>
                  <time expr:datetime='data:post.lastUpdated.iso8601' expr:title='data:post.lastUpdated.iso8601'>
                    <data:post.lastUpdated/>
                  </time>
                  <b:comment>=== Comments link ===</b:comment>
                  <b:if cond='data:post.allowComments'>
                    <!-- separator --><span>·</span>
                    <a expr:href='data:post.commentsUrl'>
                      <b:message name='messages.numberOfComments'>
                        <b:param expr:value='data:post.numberOfComments' name='numComments'/>
                      </b:message>
                    </a>
                  </b:if>
                </div>
              </div><!-- /.media-body -->
            </div><!-- /.media -->

            <b:comment>=== Body ===</b:comment>
            <div class='post-body post-spacer'>
              <data:post.body/>
            </div>
          </div><!-- /.card-body -->

        </article>
      </b:loop>
    </b:if>
  </b:if>

  <b:comment>### Static page ###</b:comment>

  <b:if cond='data:posts.notEmpty'>
    <b:if cond='data:view.isPage'>
      <b:loop values='data:posts' var='post'>
        <article class='card blog-post-spacer' expr:id='"post-" + data:post.id'>

          <div class='card-body'>
            <b:comment>=== Title ===</b:comment>
            <h1 class='post-spacer'>
              <b:eval expr='data:post.title ? data:post.title : data:messages.noTitle'/>
            </h1>

            <b:comment>=== Body ===</b:comment>
            <div class='post-body post-spacer'>
              <data:post.body/>
            </div>
          </div><!-- /.card-body -->

        </article>
      </b:loop>
    </b:if>
  </b:if>
</template>

<style to='bp-sass'>
//
// Post spacer
//

.post-spacer {
  margin-top: 0;
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}


//
// Post featured image
//

.post-featured-image {
  position: relative;
  padding-top: 56.25%;

  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include border-radius(.25rem);
  }
}


//
// Post body
//

// stylelint-disable declaration-no-important, selector-max-type, no-duplicate-selectors

// Reset margins
//

.post-body h1,
.post-body h2,
.post-body h3,
.post-body h4,
.post-body h5,
.post-body h6,
.post-body p,
.post-body ul,
.post-body ol,
.post-body dl,
.post-body table:not(.tr-caption-container),
.post-body blockquote,
.post-body figure,
.post-body pre,
.post-body address,
.post-body hr {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.post-body ul ul,
.post-body ul ol,
.post-body ol ol,
.post-body ol ul {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.post-body blockquote,
.post-body figure {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.post-body figure > :first-child {
  margin-top: 0 !important;
}
.post-body figure > :last-child {
  margin-bottom: 0 !important;
}

.post-body > :first-child {
  margin-top: 0 !important;
}
.post-body > :last-child {
  margin-bottom: 0 !important;
}

// Images
//

.post-body img {
  @include img-fluid();
}

.post-body .separator a:not([style*="clear: left"]):not([style*="clear:left"]):not([style*="clear: right"]):not([style*="clear:right"]) {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.post-body .tr-caption-container .tr-caption {
  padding-top: .5rem;
  @include font-size(90%);
}

// Figures
//

.post-body figure img,
.post-body figure svg {
  @include img-fluid();
  @extend .figure-img;
}

.post-body figure figcaption {
  @extend .figure-caption;
}

// Tables
//

.post-body table:not([class]) {
  @extend .table;
  @extend .table-bordered;
}

.post-body table:not([class]) {
  display: block;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  border: 0; // remove border from `@extend .table-bordered`
}

// Blockquotes
//

.post-body blockquote:not([class]) {
  @extend .blockquote;
}
.post-body blockquote:not([class]) footer {
  @extend .blockquote-footer;
}

// stylelint-enable
</style>
