//
// Base class
//

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #f8f9fa;
  border-top: 1px solid rgba(0, 0, 0, .125);
}

.footer-inner {
  padding: 0;
  background-color: transparent;
}

//
// b:section and b:widget
//

.b-section-footer .widget {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}
