//
// Base class
//

.header {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #f8f9fa;
  border-bottom: 1px solid rgba(#000, .125);
}

.header-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  background-color: transparent;
}

//
// Title
//

.header-title {
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.1;
  white-space: nowrap;
  text-transform: uppercase;
  text-overflow: ellipsis;
}

//= Link

.header-title-link {
  color: #6c757d;

  &:hover,
  &:focus {
    color: #212529;
    text-decoration: none;
  }
}

//
// Nav scroll
//

.nav-scroll {
  max-width: 100%;
  height: 40px;
  margin-top: 1.5rem;
  overflow: hidden;
}

//
// Responsive
//

@media (min-width: 768px) {
  .header-inner {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
  }
  .header-title {
    flex: 0 0 auto;
    width: auto;
    max-width: 300px;
    margin-right: 1rem;
  }
  .nav-scroll {
    margin-top: 0;
  }
}
