/*
=================================================
Scaffolding
=================================================
*/

/*
<Group description="(Scaffolding)">
  <Variable name="body.font"
      description="Body font"
      type="font"
      size="16px"
      family="system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'"
      default="normal normal $(size) $(family)"
      value="normal normal $(size) $(family)"/>
  <Variable name="body.color"
      description="Body color"
      type="color"
      default="#212121"
      value="#212121"/>

  <Variable name="body.background.color"
      description="Body background color"
      type="color"
      default="#ffffff"
      value="#ffffff"/>

  ----------------------

  <Variable name="link.color"
      description="Link color"
      type="color"
      default="#007bff"
      value="#007bff"/>
  <Variable name="link.hover.color"
      description="Link hover color"
      type="color"
      default="#0056b3"
      value="#0056b3"/>

  ---

  <Variable name="mark.color"
      description="Mark color"
      type="color"
      default="#212121"
      value="#212121"/>

  <Variable name="mark.background.color"
      description="Mark background color"
      type="color"
      default="#ffeb3b"
      value="#ffeb3b"/>

  ----------------------

  <Variable name="table.border.width"
      description="Table border width"
      type="length"
      min="0"
      max="100px"
      default="1px"
      value="1px"/>
  <Variable name="table.border.color"
      description="Table border color"
      type="color"
      default="#dddddd"
      value="#dddddd"/>

  ----------------------

  <Variable name="blockquote.border.width"
      description="Blockquote border width"
      type="length"
      min="0"
      max="100px"
      default="5px"
      value="5px"/>
  <Variable name="blockquote.border.color"
      description="Blockquote border color"
      type="color"
      default="#eeeeee"
      value="#eeeeee"/>

  ----------------------

  <Variable name="code.font"
      description="Code font"
      type="font"
      size="14px"
      family="SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace"
      default="normal normal $(size) $(family)"
      value="normal normal $(size) $(family)"/>
  <Variable name="code.color"
      description="Code color"
      type="color"
      default="#ff3860"
      value="#ff3860"/>

  <Variable name="code.background.color"
      description="Code background color"
      type="color"
      default="#fafafa"
      value="#fafafa"/>
  <Variable name="code.border.radius"
      description="Code border radius"
      type="length"
      min="0"
      max="100px"
      default="4px"
      value="4px"/>

  ---

  <Variable name="kbd.color"
      description="Kbd color"
      type="color"
      default="#ffffff"
      value="#ffffff"/>

  <Variable name="kbd.background.color"
      description="Kbd background color"
      type="color"
      default="#222222"
      value="#222222"/>
  <Variable name="kbd.border.radius"
      description="Kbd border radius"
      type="length"
      min="0"
      max="100px"
      default="4px"
      value="4px"/>

  ---

  <Variable name="pre.color"
      description="Pre color"
      type="color"
      default="#212121"
      value="#212121"/>

  <Variable name="pre.background.color"
      description="Pre background color"
      type="color"
      default="#fafafa"
      value="#fafafa"/>
  <Variable name="pre.border.width"
      description="Pre border width"
      type="length"
      min="0"
      max="100px"
      default="1px"
      value="1px"/>
  <Variable name="pre.border.color"
      description="Pre border color"
      type="color"
      default="#eeeeee"
      value="#eeeeee"/>
  <Variable name="pre.border.radius"
      description="Pre border radius"
      type="length"
      min="0"
      max="100px"
      default="4px"
      value="4px"/>

  ----------------------

  <Variable name="hr.margin.y"
      description="HR margin Y"
      type="length"
      min="0"
      max="100px"
      default="20px"
      value="20px"/>

  <Variable name="hr.border.width"
      description="HR border width"
      type="length"
      min="0"
      max="100px"
      default="1px"
      value="1px"/>
  <Variable name="hr.border.color"
      description="HR border color"
      type="color"
      default="#dddddd"
      value="#dddddd"/>
</Group>
*/

/* Document
================================================= */

/* Change from `box-sizing: content-box` so that `width` is not affected by `padding` or `border`. */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Body
================================================= */

/* 1. Remove the margin in all browsers. */

body {
  margin: 0; /* 1 */
  color: $(body.color);
  font-weight: 400;
  font-size: $(body.font.size);
  font-family: $(body.font.family);
  line-height: 1.5;
  background-color: $(body.background.color);
}

/* Headings
================================================= */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.2;
}

/* Inline text elements
================================================= */

/**
 * Links
 */

a {
  color: $(link.color);
  text-decoration: none;
}
a:hover {
  color: $(link.hover.color);
  text-decoration: underline;
}

/**
 * Bold
 */

/* Add the correct font weight in Chrome, Edge, and Safari. */

b,
strong {
  font-weight: bolder;
}

/**
 * Small
 */

/* Add the correct font size in all browsers. */

small {
  font-size: 80%;
}

/**
 * Mark
 */

mark {
  padding: 4px;
  color: $(mark.color);
  background-color: $(mark.background.color);
}

/**
 * Abbreviations
 */

/*
1. Add the correct text decoration in Chrome, Edge, Opera, and Safari.
2. Add explicit cursor to indicate changed behavior.
3. Prevent the text-decoration to be skipped.
*/

abbr[title] { /* stylelint-disable-line selector-no-qualifying-type */
  text-decoration: underline; /* 1 */
  text-decoration: underline dotted; /* 1 */
  cursor: help; /* 2 */
  text-decoration-skip-ink: none; /* 3 */
}

/* Images
================================================= */

img,
svg {
  vertical-align: middle;
}

/* Lists
================================================= */

ul ul,
ul ol,
ol ol,
ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* 1. Undo browser default. */

dl dt {
  font-weight: 700;
}
dl dd {
  margin-bottom: 10px;
  margin-left: 0; /* 1 */
}

/* Tables
================================================= */

table:not([class]) {
  display: block;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: transparent;
  border-collapse: collapse;
}

table:not([class]) caption {
  margin-top: 10px;
  font-size: 90%;
  text-align: inherit;
  caption-side: bottom;
}

table:not([class]) th,
table:not([class]) td {
  padding: 8px;
  vertical-align: top;
  border: $(table.border.width) solid $(table.border.color);
}
table:not([class]) th {
  text-align: inherit;
}

table:not([class]) thead th { /* stylelint-disable-line selector-max-type */
  vertical-align: bottom;
  border-bottom: $(table.border.width * 2) solid $(table.border.color);
}

table:not([class]) tbody + tbody { /* stylelint-disable-line selector-max-type */
  border-top: $(table.border.width * 2) solid $(table.border.color);
}

/* Blockquotes
================================================= */

/* 1. Remove browser default horizontal margin. */

blockquote {
  margin-right: 0; /* 1 */
  margin-left: 0; /* 1 */
  padding: 10px 20px;
  border-left: $(blockquote.border.width) solid $(blockquote.border.color);
}

blockquote > :first-child {
  /* stylelint-disable-next-line declaration-no-important */
  margin-top: 0 !important;
}
blockquote > :last-child {
  /* stylelint-disable-next-line declaration-no-important */
  margin-bottom: 0 !important;
}

/* Figures
================================================= */

/* 1. Remove browser default horizontal margin. */

figure {
  margin-right: 0; /* 1 */
  margin-left: 0; /* 1 */
}

figure figcaption {
  margin-top: 10px;
  font-size: 90%;
}

/* Code
================================================= */

pre,
code,
kbd,
samp {
  font-size: $(code.font.size);
  font-family: $(code.font.family);
}

code {
  padding: 2px 4px;
  color: $(code.color);
  word-break: break-word;
  background-color: $(code.background.color);
  border: 0;
  border-radius: $(code.border.radius);
}
a > code {
  color: inherit;
}
pre code {
  padding: 0;
  color: inherit;
  font-size: inherit;
  word-break: inherit;
  background-color: transparent;
  border: 0;
  border-radius: 0;
}

kbd {
  padding: 2px 4px;
  color: $(kbd.color);
  background-color: $(kbd.background.color);
  border-radius: $(kbd.border.radius);
}
kbd kbd {
  padding: 0;
  font-weight: 700;
}

pre {
  display: block;
  padding: 15px;
  overflow: auto;
  color: $(pre.color);
  background-color: $(pre.background.color);
  border: $(pre.border.width) solid $(pre.border.color);
  border-radius: $(pre.border.radius);
}

/* Forms
================================================= */

/* 1. Remove the margin in Firefox and Safari. */

input,
button,
select,
optgroup,
textarea {
  margin: 0; /* 1 */
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

/* 1. Textareas should really only resize vertically so they don't break their (horizontal) containers. */

textarea {
  resize: vertical; /* 1 */
}

/* Summary
================================================= */

/*
1. Add the correct display in all browsers.
2. Set `cursor` to `pointer` to convey that the element can be interacted with by clicking on it.
*/

summary {
  display: list-item; /* 1 */
  cursor: pointer; /* 2 */
}

/* Address
================================================= */

/* 1. Reset the browser default `font-style` from `italic` to `normal`. */

address {
  font-style: normal; /* 1 */
  line-height: inherit;
}

/* Content grouping
================================================= */

hr {
  box-sizing: content-box;
  height: 0;
  margin-top: $(hr.margin.y);
  margin-bottom: $(hr.margin.y);
  overflow: visible;
  border: 0;
  border-top: $(hr.border.width) solid $(hr.border.color);
}

/* Hidden attribute
================================================= */

/* Always hide an element with the `hidden` HTML attribute. */

[hidden] {
  /* stylelint-disable-next-line declaration-no-important */
  display: none !important;
}
