<template to='bp-template'>
  {# Navbar dropdown link list (using `LinkList` widget) #}
  <b:widget id='LinkList1' locked='false' title='Links' type='LinkList' version='2' visible='true'>
    <b:widget-settings>
      <b:widget-setting name='sorting'>NONE</b:widget-setting>
      <b:widget-setting name='text-0'><![CDATA[<i class="fab fa-facebook"></i> Facebook]]></b:widget-setting>
      <b:widget-setting name='link-0'>https://facebook.com/username</b:widget-setting>
      <b:widget-setting name='text-1'><![CDATA[<i class="fab fa-instagram"></i> Instagram]]></b:widget-setting>
      <b:widget-setting name='link-1'>https://instagram.com/username</b:widget-setting>
      <b:widget-setting name='text-2'><![CDATA[<i class="fab fa-twitter"></i> Twitter]]></b:widget-setting>
      <b:widget-setting name='link-2'>https://twitter.com/username</b:widget-setting>
    </b:widget-settings>
    <b:includable id='main'>
      <b:include name='content'/>
    </b:includable>
    <b:includable id='content'>
      <ul class='navbar-nav'>
        <li class='nav-item dropdown'>
          <a aria-expanded='false' aria-haspopup='true' class='nav-link dropdown-toggle' data-toggle='dropdown' expr:id='"DropdownMenu" + data:widget.instanceId' href='#'>
            <b:eval expr='data:title ? data:title : "Links"'/>
          </a>
          <div class='dropdown-menu' expr:aria-labelledby='"DropdownMenu" + data:widget.instanceId'>
            <b:class cond='data:widget.sectionId == "b-section-navbar-right"' name='dropdown-menu-right'/>
            <b:loop values='data:links' var='link'>
              <a class='dropdown-item' expr:href='data:link.target'><data:link.name/></a>
            </b:loop>
          </div>
        </li>
      </ul>
    </b:includable>
  </b:widget>
</template>
