{% parent %}

::template::
<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html b:css='false' b:defaultwidgetversion='2' b:layoutsVersion='3' expr:dir='data:blog.languageDirection' expr:lang='data:blog.locale' xmlns='http://www.w3.org/1999/xhtml' xmlns:b='http://www.google.com/2005/gml/b' xmlns:data='http://www.google.com/2005/gml/data' xmlns:expr='http://www.google.com/2005/gml/expr'>
  <b:class name='sticky-footer'/>
  <head>
    <meta content='width=device-width, initial-scale=1, shrink-to-fit=no' name='viewport'/>
    <title><data:view.title.escaped/></title>
    <b:include data='blog' name='all-head-content'/>
    <b:include data='blog' name='google-analytics'/>

    {% asset type="style", "@dist/css/style.css" %}
    {% asset type="skin", "@dist/skin/skin.css" %}

    {% asset %}
    <b:if cond='data:view.isLayoutMode'>
    <b:template-skin>
    <![CDATA[
    body#layout .container::after,
    body#layout .section::after {
      display: block;
      clear: both;
      content: "";
    }
    body#layout .main,
    body#layout .sidebar {
      float: left;
    }
    body#layout .main {
      width: 60%;
    }
    body#layout .sidebar {
      width: 40%;
    }
    ]]>
    </b:template-skin>
    </b:if>
    {% endasset %}

    {% asset %}
    <b:if cond='data:skin.override and !data:view.isLayoutMode'>
    <style>
    <data:skin.override/>
    </style>
    </b:if>
    {% endasset %}
  </head>
  <body>

    <b:comment>=== Body classes ===</b:comment>
    <b:class cond='data:view.isHomepage' name='is-homepage'/>
    <b:class cond='data:view.isPost' name='is-post'/>
    <b:class cond='data:view.isPage' name='is-page'/>
    <b:class cond='data:view.isLabelSearch' name='is-search-label'/>
    <b:class cond='data:view.search.query' name='is-search-query'/>
    <b:class cond='data:view.isSearch and !data:view.isLabelSearch and !data:view.search.query' name='is-search-default'/>
    <b:class cond='data:view.isArchive' name='is-archive'/>
    <b:class cond='data:view.isError' name='is-error'/>
    <b:class cond='data:view.isPreview' name='is-preview'/>

    <a class='skip-navigation' href='#main' id='skip-navigation'>
      <data:messages.skipToMainContent/>
    </a>

    <header class='header' id='header'>
      <div class='container'>
        {% block header %}{% endblock %}
      </div>
    </header>

    <div class='content' id='content'>
      <div class='container'>
        <div class='content-row'>
          <main class='main' id='main'>
            {% block main %}{% endblock %}
          </main>
          <aside class='sidebar' id='sidebar'>
            {% block sidebar %}{% endblock %}
          </aside>
        </div>
      </div>
    </div>

    <b:if cond='data:widgets any (w =&gt; w.sectionId == "b-section-footer")'>
      <footer class='footer' id='footer'>
        <div class='container'>
          {% block footer %}{% endblock %}
        </div>
      </footer>
    </b:if>

    {% asset type="script", "@dist/js/script.js" %}
  </body>
</html>
::endtemplate::

::skin::
/*
=================================================
Layout
=================================================
*/

/*
<Group description="(Layout)">
  <Variable name="layout.gutter"
      description="Gutter"
      type="length"
      min="0"
      max="100px"
      default="20px"
      value="20px"/>

  <Variable name="container.max.width"
      description="Container max-width"
      type="length"
      min="0"
      max="1500px"
      default="960px"
      value="960px"/>

  <Variable name="header.padding.y"
      description="Header padding Y"
      type="length"
      min="0"
      max="100px"
      default="30px"
      value="30px"/>
  <Variable name="header.background.color"
      description="Header background color"
      type="color"
      default="#222222"
      value="#222222"/>

  <Variable name="content.padding.y"
      description="Content padding Y"
      type="length"
      min="0"
      max="100px"
      default="40px"
      value="40px"/>
  <Variable name="content.background.color"
      description="Content background color"
      type="color"
      default="transparent"
      value="transparent"/>

  <Variable name="footer.padding.y"
      description="Footer padding Y"
      type="length"
      min="0"
      max="100px"
      default="30px"
      value="30px"/>
  <Variable name="footer.background.color"
      description="Footer background color"
      type="color"
      default="#222222"
      value="#222222"/>
</Group>
*/

/* Skip navigation
================================================= */

.skip-navigation {
  position: absolute;
  display: block;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  border: 0;
  clip: rect(0, 0, 0, 0);
}
.skip-navigation:active,
.skip-navigation:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  white-space: normal;
  clip: auto;
}

/* Container
================================================= */

.container {
  width: 100%;
  max-width: $(container.max.width);
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* Header
================================================= */

.header {
  padding-top: $(header.padding.y);
  padding-bottom: $(header.padding.y);
  background-color: $(header.background.color);
}

/* Content
================================================= */

.content {
  padding-top: $(content.padding.y);
  padding-bottom: $(content.padding.y);
  background-color: $(content.background.color);
}

/**
 * Grid
 */

.content-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -$(layout.gutter / 2);
  margin-left: -$(layout.gutter / 2);
}

.main,
.sidebar {
  position: relative;
  width: 100%;
  padding-right: $(layout.gutter / 2);
  padding-left: $(layout.gutter / 2);
}

.sidebar {
  margin-top: $(layout.gutter);
}

@media (min-width: 768px) {
  .main {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .sidebar {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    margin-top: 0;
  }
}

/* Footer
================================================= */

.footer {
  padding-top: $(footer.padding.y);
  padding-bottom: $(footer.padding.y);
  background-color: $(footer.background.color);
}

/* Sticky footer
================================================= */

.sticky-footer {
  height: 100%;
}
.sticky-footer body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.sticky-footer .footer {
  margin-top: auto;
}
::endskin::

{% endparent %}
