<template test='template'>
  <div>
    {% template "./template-a.njk" %}
    {% template "template-b.njk" %}
    {% template "./example-dir/template-c.njk" %}
    {% template "example-dir/template-d.njk" %}
    {% template "./example-dir/template-abcd.njk" %}
  </div>
</template>
