//
// Pager
//

.pager {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

//= Link

.pager-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25;
  text-align: center;
  background-color: #fff;
  border: 1px solid rgba(#000, .125);
  border-radius: 2rem;
  transition: all .25s;

  &:hover,
  &:focus {
    text-decoration: none;
    background-color: #f8f9fa;
    border-color: rgba(#000, .125);
  }
  &.disabled {
    color: #6c757d;
    background-color: #fff;
    border-color: rgba(#000, .125);
    pointer-events: none;
  }

  // &.pager-newer {}
  &.pager-home {
    margin-right: .5rem;
    margin-left: .5rem;
  }
  // &.pager-older {}
}
