<template test='template'>
  <div>
    {% template "./template-foo.njk" %}

    <div>
      {% template "./template-bar.njk" %}
    </div>

    {% template "./template-baz.njk" %}
  </div>
</template>
