<template to='bp-template'>
  <?xml version='1.0' encoding='UTF-8' ?>
  <!DOCTYPE html>
  <html b:css='false' b:defaultwidgetversion='2' b:layoutsVersion='3' expr:dir='data:blog.languageDirection' expr:lang='data:blog.locale' xmlns='http://www.w3.org/1999/xhtml' xmlns:b='http://www.google.com/2005/gml/b' xmlns:data='http://www.google.com/2005/gml/data' xmlns:expr='http://www.google.com/2005/gml/expr'>
    <head>

      <meta content='width=device-width, initial-scale=1, shrink-to-fit=no' name='viewport'/>
      <title><data:view.title.escaped/></title>
      <b:include data='blog' name='all-head-content'/>
      <b:include data='blog' name='google-analytics'/>

      {# Main CSS (Sass) #}
      {% asset type="style", "./dist/sass.css" %}

      {# Main CSS (Skin) #}
      {% asset type="skin", "./dist/skin.css" %}

      {# Layout Mode CSS #}
      {% asset %}
        <b:if cond='data:view.isLayoutMode'>
        <b:template-skin>
        <![CDATA[
        /* CSS here */
        ]]>
        </b:template-skin>
        </b:if>
      {% endasset %}

    </head>
    <body>

      <b:comment>=== Body classes ===</b:comment>
      <b:class cond='data:view.isHomepage' name='is-homepage'/>
      <b:class cond='data:view.isPost' name='is-post'/>
      <b:class cond='data:view.isPage' name='is-page'/>
      <b:class cond='data:view.isLabelSearch' name='is-search-label'/>
      <b:class cond='data:view.search.query' name='is-search-query'/>
      <b:class cond='data:view.isSearch and !data:view.isLabelSearch and !data:view.search.query' name='is-search-default'/>
      <b:class cond='data:view.isArchive' name='is-archive'/>
      <b:class cond='data:view.isError' name='is-error'/>
      <b:class cond='data:view.isPreview' name='is-preview'/>

      {% block header %}{% endblock %}

      {% block content %}{% endblock %}

      {% block footer %}{% endblock %}

      {# Main JS #}
      {% asset type="script", "./dist/js.js" %}

      <b:comment>FAKE SECTION</b:comment>
      <b:comment>- Blogger theme requires at least one `b:section` with `showaddelement='yes'`.</b:comment>
      <b:comment>- Note: the default value of `showaddelement` is `yes`.</b:comment>

      <b:if cond='!data:view.isLayoutMode and (data:blog.view == "NeverAccessThisView")'>
        <b:section id='fake-section' showaddelement='yes'/>
      </b:if>

    </body>
  </html>
</template>
