<template to='bp-template'>
  {# Main blog posts (using `Blog` widget) #}
  <b:widget id='Blog1' locked='true' title='Blog Posts' type='Blog' visible='true'>
    <b:includable id='main' var='this'>
      <b:comment>###### Breadcrumb ######</b:comment>

      {% template "./Blog1.part/breadcrumb.njk" %}

      <b:comment>###### Not found message ######</b:comment>

      {% template "./Blog1.part/not-found-message.njk" %}

      <b:comment>###### Posts ######</b:comment>

      {% template "./Blog1.part/posts.njk" %}

      <b:comment>###### Comments ######</b:comment>

      {% template "./Blog1.part/comments.njk" %}

      <b:comment>###### Pager ######</b:comment>

      {% template "./Blog1.part/pager.njk" %}
    </b:includable>
    {# Remove default includable #}
    <b:includable id='aboutPostAuthor'/>
    <b:includable id='addComments'/>
    <b:includable id='commentAuthorAvatar'/>
    <b:includable id='commentDeleteIcon'/>
    <b:includable id='commentForm'/>
    <b:includable id='commentFormIframeSrc'/>
    <b:includable id='commentItem'/>
    <b:includable id='commentList'/>
    <b:includable id='commentPicker'/>
    <b:includable id='comments'/>
    <b:includable id='commentsTitle'/>
    <b:includable id='feedLinks'/>
    <b:includable id='feedLinksBody'/>
    <b:includable id='homePageLink'/>
    <b:includable id='iframeComments'/>
    <b:includable id='inlineAd'/>
    <b:includable id='nextPageLink'/>
    <b:includable id='post'/>
    <b:includable id='postBody'/>
    <b:includable id='postBodySnippet'/>
    <b:includable id='postCommentsAndAd'/>
    <b:includable id='postCommentsLink'/>
    <b:includable id='postFooter'/>
    <b:includable id='postFooterAuthorProfile'/>
    <b:includable id='postHeader'/>
    <b:includable id='postMeta'/>
    <b:includable id='postPagination'/>
    <b:includable id='postTitle'/>
    <b:includable id='previousPageLink'/>
    <b:includable id='threadedCommentForm'/>
    <b:includable id='threadedCommentJs'/>
    <b:includable id='threadedComments'/>
  </b:widget>
</template>

<style to='bp-sass'>
//
// Blog post spacer
//

.blog-post-spacer {
  margin-top: 0;
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}
</style>
