<template to='bp-template'>
  <b:section class='main-section' id='main-section' maxwidgets='1' name='Main section' showaddelement='no'>
    {% template "./main-section.part/Blog1.njk" %}
  </b:section>
</template>
