<style test='sass'>


.sass-bar {
  display: block;
}


</style>

<style test='skin'>


.skin-bar {
  display: block;
}


</style>

<script test='js'>


function bar() {
  return 'JS bar';
}


</script>
