::template::
<b:section class='b-section-footer' id='b-section-footer' maxwidgets='2' name='Footer section' showaddelement='no'>
  {% template "template-parts/footer.part/footer-section.part/nav.njk" %}
  {% template "template-parts/footer.part/footer-section.part/text.njk" %}
</b:section>
::endtemplate::

::sass::
//
// Widget
//

.b-section-footer > .widget {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}
::endsass::
