::template::
=== Auto style tag ===

{% asset type="style", "style.css" %}

=== Auto skin tag ===

{% asset type="skin", "skin.css" %}

=== Auto script tag ===

{% asset type="script", "script.js" %}

=== Custom tag-start and tag-end ===

{%
  asset
    tag_start="<b:if cond='!data:view.isLayoutMode'>\n<style>",
    "style.css",
    tag_end="</style>\n</b:if>"
%}

{%
  asset
    tag_start="<script>\n//<![CDATA[",
    "script.js",
    tag_end="//]]>\n</script>"
%}

=== Block tag ===

{% asset %}
  <b:if cond='!data:view.isLayoutMode'>
  <style>
  .element {
    display: block;
  }
  </style>
  </b:if>
{% endasset %}

{% asset %}
  <script>
  //<![CDATA[
  console.log('Hello');
  //]]>
  </script>
{% endasset %}

{% asset %}
  <b:if cond='!data:view.isLayoutMode'>
  <style>
  {? asset "style.css" ?}
  {? asset "style.css" ?}
  </style>
  </b:if>
{% endasset %}

{% asset %}
  <script>
  //<![CDATA[
  {? asset "script.js" ?}
  {? asset "script.js" ?}
  //]]>
  </script>
{% endasset %}
::endtemplate::
