//
// MENU
//

.archive-menu {
  width: 100%;
}

//
// FLAT
//

.archive-flat {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  list-style: none;
}

//
// HIERARCHY
//

.archive-hierarchy-first,
.archive-hierarchy-second,
.archive-hierarchy-third {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  list-style: none;
}
.archive-hierarchy-first {
  padding-left: 0;
}
.archive-hierarchy-second,
.archive-hierarchy-third {
  padding-left: 2rem;
  margin-left: .25rem;
  border-left: 1px solid rgba(0, 0, 0, .125);
}
.archive-hierarchy-third {
  margin-bottom: .25rem;
}

.archive-hierarchy-first li,
.archive-hierarchy-second li,
.archive-hierarchy-third li {
  position: relative;
}
.archive-hierarchy-second li::before,
.archive-hierarchy-third li::before {
  position: absolute;
  top: 0;
  left: -2rem;
  color: rgba(0, 0, 0, .125);
  content: "\2014 \00A0";
}

.archive-hierarchy-summary {
  cursor: default;
  outline: 0;
}
