.image {
  margin: 0;

  .image-img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: .25rem;
  }

  .image-caption {
    margin-top: .5rem;
    font-size: 90%;
    color: #6c757d;
  }
}
