{
  "name": "*",
  "version": "0.1.0",
  "description": "My awesome starter theme for Bloggerpack.",
  "scripts": {
    "build": "bloggerpack --mode production",
    "watch": "bloggerpack --mode development --watch"
  },
  "dependencies": {},
  "devDependencies": {
    "@bloggerpack/eslint-config": "1.0.0",
    "@bloggerpack/stylelint-config": "1.0.0",
    "bloggerpack": "1.1.1"
  }
}
