{
  "name": "*",
  "version": "0.1.0",
  "description": "My awesome starter theme for Bloggerpack.",
  "scripts": {
    "build": "bloggerpack --mode production",
    "watch": "bloggerpack --mode development --watch"
  },
  "dependencies": {},
  "devDependencies": {
    "bloggerpack": "^1.1.1",
    "eslint-config-bloggerpack": "^1.0.0",
    "stylelint-config-bloggerpack": "^1.0.0"
  }
}
