<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%if(section != 'None'){%><%=section%> - <%}%><%if(subsection != 'None'){%><%=subsection%>: <%}%><%=title%> &middot; {{ docs.title }}</title>
    <meta name="description" content="<%=description%>">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="assets/bundle/css/bundle.css">
    <link rel="stylesheet" href="assets/bundle/css/xml-sass.css">
    <link rel="stylesheet" href="assets/bundle/css/xml-css.css">
    <link rel="stylesheet" href="assets/css/docs.css">
  </head>
  <body>

    <a class="doc-skiplink" id="doc-skiplink" href="#content">
      Skip to main content
    </a>

    <nav class="doc-nav" id="docNav">
      <div class="doc-nav-wrap">
        <a class="doc-nav-link" href="index.html">Home</a>
        <a class="doc-nav-link" href="getting-started.html">Getting started</a>
        <div class="doc-nav-divider"></div>
        <h6 class="doc-nav-header">CSS</h6>
        <a class="doc-nav-link" href="css-overview.html">Overview</a>
        <a class="doc-nav-link" href="css-base.html">Base CSS</a>
        <h6 class="doc-nav-subheader">Components</h6>
        <a class="doc-nav-link" href="css-components-blockquotes.html">Blockquotes</a>
        <a class="doc-nav-link" href="css-components-buttons.html">Buttons</a>
        <a class="doc-nav-link" href="css-components-forms.html">Forms</a>
        <a class="doc-nav-link" href="css-components-tables.html">Tables</a>
        <div class="doc-nav-divider"></div>
        <h6 class="doc-nav-header">XML</h6>
        <a class="doc-nav-link" href="xml-overview.html">Overview</a>
        <h6 class="doc-nav-subheader">Head</h6>
        <a class="doc-nav-link" href="xml-head-metadata.html">Metadata</a>
        <h6 class="doc-nav-subheader">Default markups</h6>
        <a class="doc-nav-link" href="xml-defaultmarkups-gadgets.html">Gadgets</a>
        <div class="doc-nav-divider"></div>
        <h6 class="doc-nav-header">Snippets</h6>
        <a class="doc-nav-link" href="snippets-overview.html">Overview</a>
        <a class="doc-nav-link" href="snippets-page-types.html">Page types</a>
        <h6 class="doc-nav-subheader">Posts</h6>
        <a class="doc-nav-link" href="snippets-posts-usage.html">Usage</a>
        <a class="doc-nav-link" href="snippets-posts-author-name.html">Author name</a>
        <a class="doc-nav-link" href="snippets-posts-author-photo.html">Author photo</a>
        <a class="doc-nav-link" href="snippets-posts-body.html">Body</a>
        <a class="doc-nav-link" href="snippets-posts-comments-link.html">Comments link</a>
        <a class="doc-nav-link" href="snippets-posts-content-snippet.html">Content snippet</a>
        <a class="doc-nav-link" href="snippets-posts-date.html">Date</a>
        <a class="doc-nav-link" href="snippets-posts-featured-image.html">Featured image</a>
        <a class="doc-nav-link" href="snippets-posts-labels.html">Labels</a>
        <a class="doc-nav-link" href="snippets-posts-read-more-link.html">Read more link</a>
        <a class="doc-nav-link" href="snippets-posts-sharing.html">Sharing</a>
        <a class="doc-nav-link" href="snippets-posts-title.html">Title</a>
        <h6 class="doc-nav-subheader">Data</h6>
        <a class="doc-nav-link" href="snippets-data-messages.html">Messages</a>
        <div class="doc-nav-divider"></div>
        <h6 class="doc-nav-header doc-nav-header-secondary">{{ base.1.name }} Links</h6>
        <a class="doc-nav-link" href="{{ docs.links.bloggerable.demo }}" target="_blank">Demo</a>
        <a class="doc-nav-link" href="{{ docs.links.bloggerable.documentation }}" target="_blank">Documentation</a>
        <a class="doc-nav-link" href="{{ docs.links.bloggerable.themes }}" target="_blank">Themes</a>
        <a class="doc-nav-link" href="{{ docs.links.bloggerable.github }}" target="_blank">GitHub</a>
        <a class="doc-nav-link" href="{{ docs.links.bloggerable.facebook }}" target="_blank">Facebook</a>
        <a class="doc-nav-link" href="{{ docs.links.bloggerable.twitter }}" target="_blank">Twitter</a>
      </div>
    </nav>
    <button class="doc-nav-toggle" id="docNavToggle" type="button">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false">
        <title>Menu</title>
        <path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path>
      </svg>
    </button>

    <div class="doc-toc" id="docToc"></div>
    <button class="doc-toc-toggle" id="docTocToggle" type="button">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false">
        <title>Menu</title>
        <path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path>
      </svg>
    </button>

    <div class="doc-overlay" id="docOverlay"></div>

    <main class="doc-content" id="content">
      <div class="doc-topbar">
        <ul>
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="getting-started.html">Getting started</a>
          </li>
          <li>
            <a href="css-overview.html">CSS</a>
          </li>
          <li>
            <a href="xml-overview.html">XML</a>
          </li>
          <li>
            <a href="snippets-overview.html">Snippets</a>
          </li>
        </ul>
      </div>
      <div class="doc-breadcrumb">
        <ol>
          <%if(section != 'None'){%>
            <li><%=section%></li>
            <%if(subsection != 'None'){%>
              <li><%=subsection%></li>
            <%}%>
          <%}%>
          <%if(section == 'None'){%>
            <li>:=:</li>
          <%}%>
        </ol>
      </div>
      <%=content%>
    </main>

    <script src="assets/bundle/js/bundle.js"></script>
    <script src="assets/js/anchor.min.js"></script>
    <script src="assets/js/tocbot.min.js"></script>
    <script src="assets/js/docs.js"></script>
  </body>
</html>
