::template::
{% extends "layout.njk" %}

{% block header %}
{% template "template-parts/header-content.njk" %}
{% endblock %}

{% block main %}
{% template "template-parts/main-content.njk" %}
{% endblock %}

{% block sidebar %}
{% template "template-parts/sidebar-content.njk" %}
{% endblock %}

{% block footer %}
{% template "template-parts/footer-content.njk" %}
{% endblock %}
::endtemplate::
