::template::
{% extends "layout.njk" %}

{% block navbar %}
{% template "template-parts/navbar.njk" %}
{% endblock %}

{% block content %}
{% template "template-parts/content.njk" %}
{% endblock %}

{% block footer %}
{% template "template-parts/footer.njk" %}
{% endblock %}
::endtemplate::
