//
// Typography
//
// Usage:
//
// <div class='post-body-typography'>
//   <data:post.body/>
// </div>

// stylelint-disable declaration-no-important, no-duplicate-selectors, selector-max-type, selector-no-qualifying-type

//= Reset margins

.post-body-typography h2,
.post-body-typography h3,
.post-body-typography h4,
.post-body-typography h5,
.post-body-typography h6,
.post-body-typography p,
.post-body-typography pre,
.post-body-typography ol,
.post-body-typography ul,
.post-body-typography dl,
.post-body-typography table:not(.tr-caption-container),
.post-body-typography blockquote,
.post-body-typography address,
.post-body-typography figure {
  margin: 1rem 0 !important;
}

//= Images

.post-body-typography img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.post-body-typography .tr-caption-container .tr-caption {
  padding-top: .25rem;
  color: #6c757d;
  font-size: 90%;
}

//= Tables

.post-body-typography table:not([class]) {
  display: block;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  background-color: transparent;
  border-collapse: collapse;
}

.post-body-typography table:not([class]) caption {
  padding: .75rem 0 0;
  color: #6c757d;
  text-align: inherit;
  caption-side: bottom;
}

.post-body-typography table:not([class]) th,
.post-body-typography table:not([class]) td {
  padding: .75rem;
  vertical-align: top;
  border: 1px solid rgba(#000, .125);
}
.post-body-typography table:not([class]) th {
  text-align: inherit;
}

.post-body-typography table:not([class]) thead th {
  vertical-align: bottom;
  border-bottom: 2px solid rgba(#000, .125);
}

.post-body-typography table:not([class]) tbody + tbody {
  border-top: 2px solid rgba(#000, .125);
}

//= Blockquotes

.post-body-typography blockquote:not([class]) {
  padding: .75rem 1rem;
  color: #212529;
  background-color: #f8f9fa;
  border-left: 8px solid rgba(#000, .125);
  border-radius: .25rem;
}

.post-body-typography blockquote:not([class]) > :first-child {
  margin-top: 0 !important;
}
.post-body-typography blockquote:not([class]) > :last-child {
  margin-bottom: 0 !important;
}

.post-body-typography blockquote:not([class]) footer {
  display: block;
  color: #6c757d;
  font-size: 90%;
}
.post-body-typography blockquote:not([class]) footer::before {
  content: "\2014 \00A0";
}

//= Code

.post-body-typography code {
  padding: .2em .4em;
  color: #ff3860;
  font-size: 90%;
  word-break: break-word;
  background-color: #f8f9fa;
  border: 0;
  border-radius: .25rem;
}

.post-body-typography pre code {
  padding: 0;
  color: inherit;
  font-size: inherit;
  word-break: inherit;
  background-color: transparent;
  border: 0;
  border-radius: 0;
}

.post-body-typography pre:not([class]) {
  display: block;
  padding: 1rem;
  overflow: auto;
  color: #212529;
  font-size: 90%;
  background-color: #f8f9fa;
  border-radius: .25rem;
}
