//
// Base class
//

.post-single {
  position: relative;
}

//
// Header
//

.post-single-header {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

//
// Title
//

.post-single-title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.2;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .post-single-title {
    font-size: 2rem;
  }
}

//
// Body
//

.post-single-body {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }

  &::after {
    display: block;
    clear: both;
    content: "";
  }
}
