<template to='bp-template'>
  {# Navbar dropdown labels (using `Label` widget) #}
  <b:widget id='Label1' locked='false' title='Labels' type='Label' version='2' visible='true'>
    <b:widget-settings>
      <b:widget-setting name='sorting'>ALPHA</b:widget-setting>
      <b:widget-setting name='display'>LIST</b:widget-setting>
      <b:widget-setting name='selectedLabelsList'/>
      <b:widget-setting name='showType'>ALL</b:widget-setting>
      <b:widget-setting name='showFreqNumbers'>true</b:widget-setting>
    </b:widget-settings>
    <b:includable id='main' var='this'>
      <b:include name='content'/>
    </b:includable>
    <b:includable id='content'>
      <b:include cond='data:this.display == "list"' name='list'/>
      <b:include cond='data:this.display == "cloud"' name='cloud'/>
    </b:includable>
    <b:includable id='list'>
      <ul class='navbar-nav'>
        <li class='nav-item dropdown'>
          <a aria-expanded='false' aria-haspopup='true' class='nav-link dropdown-toggle' data-toggle='dropdown' expr:id='"DropdownMenu" + data:widget.instanceId' href='#'>
            <b:eval expr='data:title ? data:title : "Labels"'/>
          </a>
          <div class='dropdown-menu' expr:aria-labelledby='"DropdownMenu" + data:widget.instanceId'>
            <b:class cond='data:widget.sectionId == "b-section-navbar-right"' name='dropdown-menu-right'/>
            <b:loop values='data:labels' var='label'>
              <a class='dropdown-item' expr:href='appendParams(data:label.url, { max-results: "12" })'>
                <b:class cond='data:this.showFreqNumbers' name='d-flex justify-content-between align-items-center'/>
                <b:class cond='data:view.url.canonical and (data:view.search.label == data:label.name)' name='active'/>
                <data:label.name/>
                <b:if cond='data:this.showFreqNumbers'>
                  <span class='badge ml-5'>
                    <b:class cond='data:view.url.canonical and (data:view.search.label != data:label.name)' name='badge-light'/>
                    <b:class cond='data:view.url.canonical and (data:view.search.label == data:label.name)' name='badge-light active'/>
                    <data:label.count/>
                  </span>
                </b:if>
              </a>
            </b:loop>
          </div>
        </li>
      </ul>
    </b:includable>
    <b:includable id='cloud'>
      <ul class='navbar-nav'>
        <li class='nav-item dropdown'>
          <a aria-expanded='false' aria-haspopup='true' class='nav-link dropdown-toggle' data-toggle='dropdown' expr:id='"DropdownMenu" + data:widget.instanceId' href='#'>
            <b:eval expr='data:title ? data:title : "Labels"'/>
          </a>
          <div class='dropdown-menu p-3' expr:aria-labelledby='"DropdownMenu" + data:widget.instanceId' style='min-width: 300px;'>
            <b:class cond='data:widget.sectionId == "b-section-navbar-right"' name='dropdown-menu-right'/>
            <div class='d-flex flex-wrap mt-n1'>
              <b:loop values='data:labels' var='label'>
                <a class='btn btn-light btn-sm mt-1 mr-1' expr:href='appendParams(data:label.url, { max-results: "12" })'>
                  <b:class cond='data:view.url.canonical and (data:view.search.label == data:label.name)' name='active'/>
                  <data:label.name/>
                  <b:if cond='data:this.showFreqNumbers'>
                    <span class='badge ml-1'>
                      <b:class cond='data:view.url.canonical and (data:view.search.label != data:label.name)' name='badge-secondary'/>
                      <b:class cond='data:view.url.canonical and (data:view.search.label == data:label.name)' name='badge-dark active'/>
                      <data:label.count/>
                    </span>
                  </b:if>
                </a>
              </b:loop>
            </div>
          </div>
        </li>
      </ul>
    </b:includable>
  </b:widget>
</template>
