<template to='bp-template'>
  <b:section class='footer-section' id='footer-section' maxwidgets='2' name='Footer section' showaddelement='no'>
    {% template "./footer-section.part/LinkList2.njk" %}
    {% template "./footer-section.part/HTML1.njk" %}
  </b:section>
</template>

<style to='bp-sass'>
//
// Widget
//

.footer-section > .widget {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}
</style>
