/**
 * Base class
 */

/* ///.contact-form {} */

/**
 * Group
 */

.contact-form-group {
  margin-bottom: 1rem;
}
.contact-form-group label {
  display: inline-block;
  margin-bottom: .5rem;
}

/**
 * Input
 */

.contact-form-name,
.contact-form-email,
.contact-form-email-message {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.contact-form-name:focus,
.contact-form-email:focus,
.contact-form-email-message:focus {
  color: #495057;
  background-color: #fff;
  border-color: #71dd8a; /* lighten(#28a745, 25%) */
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .25); /* rgba(#28a745, .25) */
}

.contact-form-email-message {
  overflow: auto;
  resize: vertical;
}

/**
 * Submit
 */

.contact-form-button-submit {
  display: inline-block;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: #28a745;
  border: 1px solid #269d41; /* darken(#28a745, 2.5%) */
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.contact-form-button-submit:hover {
  color: #fff;
  background-color: #218838; /* darken(#28a745, 7.5%) */
  border-color: #1e7e34; /* darken(#28a745, 10%) */
}
.contact-form-button-submit:focus {
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .5); /* rgba(#28a745, .5) */
}
.contact-form-button-submit:active {
  color: #fff;
  background-color: #19692c; /* darken(#28a745, 15%) */
  border-color: #175f27; /* darken(#28a745, 17.5%) */
}

/**
 * Alert
 */

.contact-form-error-message,
.contact-form-success-message {
  display: none;
}
.contact-form-error-message-with-border,
.contact-form-success-message-with-border {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid transparent;
  border-radius: .25rem;
}
.contact-form-error-message-with-border {
  padding-right: 4rem;
  color: #a84242; /* darken(#f2dede, 45%) */
  background-color: #f2dede;
  border-color: #eed5d5; /* darken(#f2dede, 2.5%) */
}
.contact-form-error-message-with-border .contact-form-cross {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.125rem 1.25rem;
}
.contact-form-success-message-with-border {
  color: #5ca43f; /* darken(#dff0d8, 45%) */
  background-color: #dff0d8;
  border-color: #d7eccf; /* darken(#dff0d8, 2.5%) */
}
