::template::
<h1 class='header-title'>
  <a class='header-title-link' expr:href='data:blog.homepageUrl'>
    <data:blog.title/>
  </a>
</h1>

<b:if cond='data:widgets any (w =&gt; w.sectionId == "b-section-header")'>
  <b:section class='b-section-header' id='b-section-header' maxwidgets='1' name='Header section' showaddelement='no'>
    {#==================================================
    Header nav (using PageList widget)
    ==================================================#}
    <b:widget id='PageList1' locked='true' title='Header nav' type='PageList' visible='true'>
      <b:widget-settings>
        <b:widget-setting name='pageListJson'>
          <![CDATA[
            {
              'home': {'href': '/', 'title': 'Home', 'position': 0},
              'link0': {'href': 'https://blogger.com/', 'title': 'Blogger', 'position': 1},
              'link1': {'href': 'https://github.com/bloggerpack/bloggerpack', 'title': 'GitHub', 'position': 2}
            }
          ]]>
        </b:widget-setting>
        <b:widget-setting name='homeTitle'>Home</b:widget-setting>
      </b:widget-settings>
      <b:includable id='main'>
        <b:include name='content'/>
      </b:includable>
      <b:includable id='content'>
        <nav class='header-nav'>
          <ul class='header-nav-list'>
            <b:if cond='data:links.notEmpty'>
              <b:loop values='data:links' var='link'>
                <li class='header-nav-item'>
                  <a class='header-nav-link' expr:href='data:link.href'>
                    <b:class cond='data:link.isCurrentPage' name='active'/>
                    <data:link.title/>
                  </a>
                </li>
              </b:loop>
            <b:else/>
              <li class='header-nav-item'>
                <a class='header-nav-link' expr:href='data:blog.homepageUrl'>
                  <data:messages.home/>
                </a>
              </li>
            </b:if>
          </ul>
        </nav>
      </b:includable>
      {# Remove default inclusion #}
      <b:includable id='overflowButton'/>
      <b:includable id='overflowablePageList'/>
      <b:includable id='pageLink'/>
      <b:includable id='pageList'/>
    </b:widget>
  </b:section>
</b:if>
::endtemplate::

::skin::
/*
=================================================
Header
=================================================
*/

/* Header title
================================================= */

/*
<Group description="(Header) Title">
  <Variable name="header.title.font"
      description="Header title font"
      type="font"
      size="30px"
      family="$(body.font.family)"
      default="normal normal $(size) $(family)"
      value="normal normal $(size) $(family)"/>

  <Variable name="header.title.link.color"
      description="Header title link color"
      type="color"
      default="#cccccc"
      value="#cccccc"/>
  <Variable name="header.title.link.hover.color"
      description="Header title link hover color"
      type="color"
      default="#ffffff"
      value="#ffffff"/>
</Group>
*/

.header-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: $(header.title.font.size);
  font-family: $(header.title.font.family);
}
.header-title:last-child {
  margin-bottom: 0;
}

.header-title-link {
  display: inline-block;
  color: $(header.title.link.color);
}
.header-title-link:hover,
.header-title-link:focus {
  color: $(header.title.link.hover.color);
  text-decoration: none;
}

/* Header nav
================================================= */

/*
<Group description="(Header) Nav">
  <Variable name="header.nav.height"
      description="Header nav height (adjust based on the font)"
      type="length"
      min="0"
      max="100px"
      default="24px"
      value="24px"/>

  <Variable name="header.nav.link.font"
      description="Header nav link font"
      type="font"
      size="16px"
      family="$(body.font.family)"
      default="normal normal $(size) $(family)"
      value="normal normal $(size) $(family)"/>
  <Variable name="header.nav.link.color"
      description="Header nav link color"
      type="color"
      default="#cccccc"
      value="#cccccc"/>
  <Variable name="header.nav.link.hover.color"
      description="Header nav link hover color"
      type="color"
      default="#ffffff"
      value="#ffffff"/>
  <Variable name="header.nav.link.active.color"
      description="Header nav link active color"
      type="color"
      default="#ffffff"
      value="#ffffff"/>
</Group>
*/

.header-nav {
  max-width: 100%;
  height: $(header.nav.height);
  overflow: hidden;
}

.header-nav-list {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 50px;
  padding-left: 0;
  overflow-x: auto;
  list-style: none;
}

.header-nav-item:not(:last-child) {
  margin-right: 10px;
}

.header-nav-link {
  display: block;
  color: $(header.nav.link.color);
  font-size: $(header.nav.link.font.size);
  font-family: $(header.nav.link.font.family);
  line-height: $(header.nav.height);
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: $(header.nav.link.hover.color);
  text-decoration: none;
}
.header-nav-link.active {
  color: $(header.nav.link.active.color);
}
::endskin::
