::template::
<b:section class='b-section-sidebar' id='b-section-sidebar' name='Sidebar section'>
  {#==========================================================================
  Custom BlogSearch widget
  ==========================================================================#}
  <b:widget id='BlogSearch1' locked='true' title='Search This Blog' type='BlogSearch' visible='true'>
    <b:includable id='main'>
      <b:include name='widget-title'/>
      <b:include name='content'/>
    </b:includable>
    <b:includable id='content'>
      <div class='widget-content'>
        <b:include name='searchForm'/>
      </div>
    </b:includable>
    <b:includable id='searchForm'>
      <form class='custom-search-form' expr:action='data:blog.searchUrl'>
        <div class='search-form-row'>
          <div class='search-form-col'>
            <b:include name='urlParamsAsFormInput'/>
            <input autocomplete='off' class='search-form-input' expr:aria-label='data:messages.search' expr:placeholder='data:messages.search' name='q' type='search'/>
          </div>
          <div class='search-form-col-auto'>
            <b:include name='searchSubmit'/>
          </div>
        </div>
      </form>
    </b:includable>
    <b:includable id='searchSubmit'>
      <button class='search-form-submit' type='submit'><data:messages.search/></button>
    </b:includable>
  </b:widget>
  {#==========================================================================
  HTML widget
  ==========================================================================#}
  <b:widget id='HTML2' locked='false' title='HTML gadget' type='HTML' visible='true'>
    <b:widget-settings>
      <b:widget-setting name='content'>
        <![CDATA[
          <p>Hello, world!</p>
        ]]>
      </b:widget-setting>
    </b:widget-settings>
    <b:includable id='main'>
      <b:include name='widget-title'/>
      <div class='widget-content'>
        <data:content/>
      </div>
    </b:includable>
  </b:widget>
</b:section>
::endtemplate::

::skin::
/*
=================================================
Sidebar
=================================================
*/

/* Sidebar section
================================================= */

/*
<Group description="(Sidebar) Section">
  <Variable name="sidebar.widget.padding"
      description="Sidebar widget padding"
      type="length"
      min="0"
      max="100px"
      default="20px"
      value="20px"/>
  <Variable name="sidebar.widget.color"
      description="Sidebar widget color"
      type="color"
      default="#212121"
      value="#212121"/>
  <Variable name="sidebar.widget.background.color"
      description="Sidebar widget background color"
      type="color"
      default="#ffffff"
      value="#ffffff"/>
  <Variable name="sidebar.widget.border.width"
      description="Sidebar widget border width"
      type="length"
      min="0"
      max="100px"
      default="1px"
      value="1px"/>
  <Variable name="sidebar.widget.border.color"
      description="Sidebar widget border color"
      type="color"
      default="#dddddd"
      value="#dddddd"/>
  <Variable name="sidebar.widget.border.radius"
      description="Sidebar widget border radius"
      type="length"
      min="0"
      max="100px"
      default="4px"
      value="4px"/>

  <Variable name="sidebar.widget.title.font"
      description="Sidebar widget title font"
      type="font"
      size="20px"
      family="$(body.font.family)"
      default="normal normal $(size) $(family)"
      value="normal normal $(size) $(family)"/>
  <Variable name="sidebar.widget.title.color"
      description="Sidebar widget title color"
      type="color"
      default="#212121"
      value="#212121"/>
</Group>
*/

.b-section-sidebar > .widget {
  margin-bottom: $(layout.spacer);
  padding: $(sidebar.widget.padding);
  color: $(sidebar.widget.color);
  background-color: $(sidebar.widget.background.color);
  border: $(sidebar.widget.border.width) solid $(sidebar.widget.border.color);
  border-radius: $(sidebar.widget.border.radius);
}
.b-section-sidebar > .widget:last-child {
  margin-bottom: 0;
}

.b-section-sidebar > .widget > .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: $(sidebar.widget.title.color);
  font: $(sidebar.widget.title.font);
  line-height: 1.2;
}

.b-section-sidebar > .widget > .widget-content > :first-child {
  margin-top: 0;
}
.b-section-sidebar > .widget > .widget-content > :last-child {
  margin-bottom: 0;
}
::endskin::

::css::
// =================================================
// Sidebar content
// =================================================

// Custom BlogSearch widget
// =================================================

//
// Layout
//

.custom-search-form {
  .search-form-row {
    display: flex;
    flex-wrap: nowrap;
    margin-right: -5px;
    margin-left: -5px;
  }

  .search-form-col {
    position: relative;
    flex-basis: 0;
    flex-grow: 1;
    width: 100%;
    max-width: 100%;
    padding-right: 5px;
    padding-left: 5px;
  }
  .search-form-col-auto {
    position: relative;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
    padding-right: 5px;
    padding-left: 5px;
  }
}

//
// Input
//

.custom-search-form .search-form-input {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  color: #555;
  font-weight: 400;
  font-size: 1rem;
  font-family: inherit;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ddd;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  &::placeholder {
    color: #757575;
    opacity: 1;
  }

  &:focus {
    color: #555;
    background-color: #fff;
    border-color: lighten(#007bff, 25%);
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(#007bff, .25);

    &::placeholder {
      color: #757575;
      opacity: 1;
    }
  }
}

//
// Submit
//

.custom-search-form .search-form-submit {
  display: block;
  padding: .375rem .75rem;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  font-family: inherit;
  line-height: 1.5;
  white-space: nowrap;
  text-align: center;
  background-color: #007bff;
  border: 1px solid darken(#007bff, 2.5%);
  border-radius: .25rem;
  cursor: pointer;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  user-select: none;

  &:hover {
    color: #fff;
    background-color: darken(#007bff, 7.5%);
    border-color: darken(#007bff, 10%);
  }
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(#007bff, .5);
  }
  &:active {
    color: #fff;
    background-color: darken(#007bff, 15%);
    border-color: darken(#007bff, 17.5%);
  }
}
::endcss::
