//
// Base class
//

.profile {
  margin-bottom: 1rem;
  text-align: center;
  background-color: #f8f9fa;
  border-radius: .25rem;

  &:last-child {
    margin-bottom: 0;
  }
}

//
// Header
//

.profile-header {
  height: 100px;
  background-color: #868e96;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

//
// Avatar
//

.profile-avatar {
  position: relative;
  top: -50px;
  margin-bottom: -50px;
}

.profile-image {
  width: 100px;
  max-width: 100px;
  height: 100px;
  max-height: 100px;
  vertical-align: middle;
  border: 5px solid rgba(#fff, .5);
  border-radius: 50%;

  // Default avatar
  &.profile-default-avatar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: #fff;
    font-weight: 700;
    font-size: 4rem;
    line-height: 0;
    text-transform: uppercase;
    background-color: #ff5722;
  }
}

//
// Body
//

.profile-body {
  padding: .25rem 1rem 1rem;
}

.profile-block {
  margin-bottom: .5rem;
  line-height: 1;

  &:last-child {
    margin-bottom: 0;
  }
}

.profile-name {
  display: inline-block;
  color: #333;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #333;
    text-decoration: none;
  }
}

.profile-text {
  color: #555;
  font-weight: 400;
  font-size: .875rem;
  line-height: 1.3;
}
