<template to='bp-template'>
  {% extends "./layout.njk" %}

  {% block main %}
  {% template "./template/template-main.njk" %}
  {% endblock %}

  {% block sidebar %}
  {% template "./template/template-sidebar.njk" %}
  {% endblock %}
</template>
