<template test='template'>
  {% extends "./layout.njk" %}

  {% block main %}
  {% template "./template-main.njk" %}
  {% endblock %}

  {% block sidebar %}
  {% template "./template-sidebar.njk" %}
  {% endblock %}
</template>
