//
// Document
//
// Change from `box-sizing: content-box` so that `width` is not affected by `padding` or `border`.

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

//
// HTML5 Shim
//
// Shim for "new" HTML5 structural elements to display correctly (IE10, older browsers).

// stylelint-disable-next-line selector-list-comma-newline-after
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

//
// Body
//

body {
  margin: 0;
  color: $body-color;
  font-weight: $body-font-weight;
  font-size: $body-font-size;
  font-family: $body-font-family;
  line-height: $body-line-height;
  text-align: left;
  background-color: $body-bg;
}

//
// Links
//

a {
  color: $link-color;
  text-decoration: $link-decoration;

  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

//
// Headings
//

// stylelint-disable-next-line selector-list-comma-newline-after
h1, h2, h3, h4, h5, h6 {
  color: $headings-color;
  font-weight: $headings-font-weight;
  font-family: $headings-font-family;
  line-height: $headings-line-height;
}

h1 { font-size: $h1-font-size; }
h2 { font-size: $h2-font-size; }
h3 { font-size: $h3-font-size; }
h4 { font-size: $h4-font-size; }
h5 { font-size: $h5-font-size; }
h6 { font-size: $h6-font-size; }
