//
// Document
//

*,
*::before,
*::after {
  box-sizing: border-box;
}

// stylelint-disable-next-line selector-list-comma-newline-after
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

//
// Body
//

body {
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  line-height: $body-line-height;
  color: $body-color;
  text-align: left;
  background-color: $body-bg;
}

//
// Inline text elements
//

// Links

a {
  color: $link-color;
  text-decoration: $link-decoration;

  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

// Small

small {
  font-size: $small-font-size;
  font-weight: $small-font-weight;
}

// Mark

mark {
  padding: $mark-padding;
  color: $mark-color;
  background-color: $mark-bg;
}

// Abbreviations

// stylelint-disable-next-line selector-no-qualifying-type
abbr[title] {
  cursor: help;
}

//
// Headings
//

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: ($spacer / 2);
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

h1 { font-size: $h1-font-size; }
h2 { font-size: $h2-font-size; }
h3 { font-size: $h3-font-size; }
h4 { font-size: $h4-font-size; }
h5 { font-size: $h5-font-size; }
h6 { font-size: $h6-font-size; }

//
// Paragraphs
//

p {
  margin-top: 0;
  margin-bottom: $spacer;
}

//
// Lists
//

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: $spacer;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: $font-weight-bold;
}
dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

//
// Tables
//

table {
  border-collapse: collapse;
}

caption {
  padding-top: $table-caption-padding;
  padding-bottom: $table-caption-padding;
  color: $table-caption-color;
  text-align: $table-caption-text-align;
  caption-side: $table-caption-side;
}

th {
  text-align: inherit;
}

//
// Blockquotes
//

blockquote {
  margin: 0 0 $spacer;
}

//
// Addresses
//

address {
  margin-bottom: $spacer;
  font-style: normal;
  line-height: inherit;
}

//
// Figures
//

figure {
  margin: 0 0 $spacer;
}

//
// Images
//

img {
  vertical-align: middle;
}

//
// Forms
//

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
}

label {
  // Allow labels to use `margin` for spacing.
  display: inline-block;
  margin-bottom: $label-margin-bottom;
}

input,
button,
select,
optgroup,
textarea {
  font-size: inherit;
  line-height: inherit;
}

textarea {
  resize: vertical;
}

output {
  // Correct element displays
  display: inline-block;
}

//
// Code
//

code,
pre,
kbd,
samp {
  font-family: $font-family-monospace;
}

code {
  font-size: $code-font-size;
  color: $code-color;
  word-break: break-word;

  // Streamline the style when inside anchors to avoid broken underline and more
  a > & {
    color: inherit;
  }
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: $spacer;
  overflow: auto;
  font-size: $pre-font-size;
  color: $pre-color;

  // Account for some code outputs that place code tags in pre tags
  code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
  }
}

kbd {
  padding: $kbd-padding;
  font-size: $kbd-font-size;
  color: $kbd-color;
  background-color: $kbd-bg;
  border-radius: $kbd-border-radius;

  kbd {
    padding: 0;
    font-size: 100%;
  }
}

//
// Horizontal rules
//

hr {
  margin-top: $spacer;
  margin-bottom: $spacer;
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;
}
