.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $spacer;
  color: $table-color;
  background-color: $table-bg;

  th,
  td {
    padding: $table-cell-padding;
    vertical-align: top;
    border: $table-border-width solid $table-border-color;
    border-width: $table-border-width 0 0;
  }

  thead th {
    vertical-align: bottom;
    border-bottom-width: (2 * $table-border-width);
  }

  tbody + tbody {
    border-top: (2 * $table-border-width) solid $table-border-color;
  }

  .thead-light th {
    color: $table-light-color;
    background-color: $table-light-bg;
    border-color: $table-light-border-color;
  }
  .thead-dark th {
    color: $table-dark-color;
    background-color: $table-dark-bg;
    border-color: $table-dark-border-color;
  }

  &.table-bordered {
    border: $table-border-width solid $table-border-color;

    th,
    td {
      border-width: $table-border-width;
    }
    thead th {
      border-bottom-width: (2 * $table-border-width);
    }
  }

  &.table-borderless {
    th,
    td,
    thead th,
    tbody + tbody {
      border: 0;
    }
  }

  &.table-striped tbody tr:nth-of-type(#{$table-striped-order}) {
    background-color: $table-accent-bg;
  }

  &.table-hover tbody tr:hover {
    color: $table-row-hover-color;
    background-color: $table-row-hover-bg;
  }
}

//
// Theme
//

// stylelint-disable-next-line no-duplicate-selectors
.table {
  &.table-light {
    color: $table-light-color;
    background-color: $table-light-bg;

    th,
    td {
      border-color: $table-light-border-color;
    }

    tbody + tbody {
      border-color: $table-light-border-color;
    }

    .thead-light th {
      color: $table-head-light-color;
      background-color: $table-head-light-bg;
      border-color: $table-head-light-border-color;
    }

    &.table-bordered {
      border-color: $table-light-border-color;
    }

    &.table-striped tbody tr:nth-of-type(#{$table-striped-order}) {
      background-color: $table-light-accent-bg;
    }

    &.table-hover tbody tr:hover {
      color: $table-light-row-hover-color;
      background-color: $table-light-row-hover-bg;
    }
  }

  &.table-dark {
    color: $table-dark-color;
    background-color: $table-dark-bg;

    th,
    td {
      border-color: $table-dark-border-color;
    }

    tbody + tbody {
      border-color: $table-dark-border-color;
    }

    .thead-dark th {
      color: $table-head-dark-color;
      background-color: $table-head-dark-bg;
      border-color: $table-head-dark-border-color;
    }

    &.table-bordered {
      border-color: $table-dark-border-color;
    }

    &.table-striped tbody tr:nth-of-type(#{$table-striped-order}) {
      background-color: $table-dark-accent-bg;
    }

    &.table-hover tbody tr:hover {
      color: $table-dark-row-hover-color;
      background-color: $table-dark-row-hover-bg;
    }
  }
}

//
// Responsive table
//

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}
