// Options
// Color system
// Fonts, components and more
// Body
// Headings
// Horizontal rules
// Inline text elements
// Code
// Tables
// Blockquotes
// Forms and buttons

//
// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-rounded:      true !default;
$enable-shadows:      false !default;
$enable-transitions:  true !default;

//
// Color system
//

$white:      #fff !default;
$gray-100:   #f8f9fa !default;
$gray-200:   #e9ecef !default;
$gray-300:   #dee2e6 !default;
$gray-400:   #ced4da !default;
$gray-500:   #adb5bd !default;
$gray-600:   #6c757d !default;
$gray-700:   #495057 !default;
$gray-800:   #343a40 !default;
$gray-900:   #212529 !default;
$black:      #000 !default;

$primary:    #007bff !default;
$secondary:  $gray-700 !default;
$light:      $gray-100 !default;
$dark:       $gray-900 !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);

$text-primary:    theme-color("primary") !default;
$text-secondary:  theme-color("secondary") !default;
$text-light:      theme-color("light") !default;
$text-dark:       theme-color("dark") !default;
$text-white:      $white !default;
$text-black:      $black !default;
$text-muted:      $gray-600 !default;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold:  150 !default;
// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark:             $text-dark !default;
$yiq-text-light:            $text-white !default;

//
// Fonts, components and more
//

// stylelint-disable value-keyword-case
$font-family:             -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-monospace:   SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
// stylelint-enable value-keyword-case

$font-size:               1rem !default;

$font-weight-lighter:     lighter !default;
$font-weight-light:       300 !default;
$font-weight-normal:      400 !default;
$font-weight-bold:        700 !default;
$font-weight-bolder:      bolder !default;

$line-height:             1.5 !default;

$border-width:            1px !default;

$border-radius:           .25rem !default;

$box-shadow:              0 .5rem 1rem rgba($black, .15) !default;

$component-active-color:  $white !default;
$component-active-bg:     theme-color("primary") !default;

$spacer:                  1rem !default;

//
// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grid-breakpoints: map-merge(
  (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
  ),
  $grid-breakpoints
);

//
// Body
//

$body-font-family:  $font-family !default;
$body-font-size:    $font-size !default;
$body-font-weight:  $font-weight-normal !default;
$body-line-height:  $line-height !default;
$body-color:        $text-dark !default;
$body-bg:           $white !default;

//
// Headings
//

$headings-font-family:  inherit !default;
$headings-font-weight:  500 !default;
$headings-line-height:  1.2 !default;
$headings-color:        inherit !default;

$h1-font-size:          $font-size * 2.5 !default;
$h2-font-size:          $font-size * 2 !default;
$h3-font-size:          $font-size * 1.75 !default;
$h4-font-size:          $font-size * 1.5 !default;
$h5-font-size:          $font-size * 1.25 !default;
$h6-font-size:          $font-size !default;

//
// Horizontal rules
//

$hr-border-width:  $border-width !default;
$hr-border-color:  rgba($black, .1) !default;

//
// Inline text elements
//

//= Links

$link-color:             $text-primary !default;
$link-hover-color:       darken($link-color, 15%) !default;
$link-decoration:        none !default;
$link-hover-decoration:  underline !default;

//= Small

$small-font-size:    80% !default;
$small-font-weight:  $font-weight-normal !default;

//= Mark

$mark-padding:  .2em !default;
$mark-color:    $text-black !default;
$mark-bg:       #ffecb3 !default;

//
// Code
//

$code-font-size:     87.5% !default;
$code-color:         #e83e8c !default;

$pre-font-size:      $code-font-size !default;
$pre-color:          $body-color !default;

$kbd-padding:        .2rem .4rem !default;
$kbd-font-size:      85% !default;
$kbd-color:          $text-white !default;
$kbd-bg:             $dark !default;
$kbd-border-radius:  $border-radius !default;

//
// Tables
//

$table-cell-padding:             .75rem !default;
$table-border-width:             $border-width !default;

//= Default

$table-color:                    $body-color !default;
$table-bg:                       transparent !default;
$table-accent-bg:                rgba($black, .05) !default;
$table-border-color:             $gray-300 !default;
$table-row-hover-color:          $body-color !default;
$table-row-hover-bg:             rgba($black, .075) !default;

//= Light

$table-light-color:              $text-dark !default;
$table-light-bg:                 $light !default;
$table-light-accent-bg:          rgba($black, .05) !default;
$table-light-border-color:       darken($table-light-bg, 7.5%) !default;
$table-light-row-hover-color:    $text-dark !default;
$table-light-row-hover-bg:       rgba($black, .075) !default;

//= Dark

$table-dark-color:               $text-white !default;
$table-dark-bg:                  $dark !default;
$table-dark-accent-bg:           rgba($white, .05) !default;
$table-dark-border-color:        lighten($table-dark-bg, 7.5%) !default;
$table-dark-row-hover-color:     $text-white !default;
$table-dark-row-hover-bg:        rgba($white, .075) !default;

//= Light head

$table-head-light-color:         $text-dark !default;
$table-head-light-bg:            darken($table-light-bg, 7.5%) !default;
$table-head-light-border-color:  darken($table-head-light-bg, 7.5%) !default;

//= Dark head

$table-head-dark-color:          $text-white !default;
$table-head-dark-bg:             darken($table-dark-bg, 7.5%) !default;
$table-head-dark-border-color:   lighten($table-head-dark-bg, 15%) !default;

//= Caption

$table-caption-padding:          .75rem !default;
$table-caption-color:            $text-muted !default;
$table-caption-text-align:       left !default;
$table-caption-side:             bottom !default;

//= Striped rows

$table-striped-order:            odd !default;

//
// Blockquotes
//

$blockquote-padding-y:            .75rem !default;
$blockquote-padding-x:            1rem !default;
$blockquote-color:                $text-dark !default;
$blockquote-bg:                   $light !default;
$blockquote-border-color:         $gray-300 !default;
$blockquote-border-top-width:     0 !default;
$blockquote-border-right-width:   0 !default;
$blockquote-border-bottom-width:  0 !default;
$blockquote-border-left-width:    8px !default;
$blockquote-border-radius:        $border-radius !default;

$blockquote-footer-font-size:     90% !default;
$blockquote-footer-color:         $text-muted !default;

//
// Forms and buttons
//

//= Buttons

$button-padding-y:            .375rem !default;
$button-padding-x:            .75rem !default;
$button-font-size:            $font-size !default;
$button-font-weight:          $font-weight-normal !default;
$button-line-height:          $line-height !default;
$button-border-width:         $border-width !default;
$button-border-radius:        $border-radius !default;
$button-transition:           color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;
$button-focus-width:          .2rem !default;
$button-disabled-opacity:     .65 !default;

// Default button
$button-color:                $text-dark !default;
$button-bg:                   $gray-400 !default;
$button-border-color:         darken($button-bg, 3%) !default;
$button-hover-color:          $text-dark !default;
$button-hover-bg:             darken($button-bg, 7%) !default;
$button-hover-border-color:   darken($button-hover-bg, 3%) !default;
$button-active-color:         $text-dark !default;
$button-active-bg:            darken($button-bg, 12%) !default;
$button-active-border-color:  darken($button-active-bg, 3%) !default;

//= Forms

$label-margin-bottom:               .5rem !default;

$input-padding-y:                   $button-padding-y !default;
$input-padding-x:                   $button-padding-x !default;
$input-font-size:                   $button-font-size !default;
$input-line-height:                 $button-line-height !default;
$input-color:                       $gray-700 !default;
$input-bg:                          $white !default;
$input-disabled-bg:                 $gray-200 !default;
$input-border-width:                $button-border-width !default;
$input-border-color:                $gray-400 !default;
$input-border-radius:               $button-border-radius !default;
$input-transition:                  border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;
$input-height:                      calc(#{($input-font-size * $input-line-height) + ($input-padding-y * 2)} + #{($input-border-width * 2)}) !default;

$input-focus-color:                 $input-color !default;
$input-focus-bg:                    $input-bg !default;
$input-focus-border-color:          lighten($component-active-bg, 25%) !default;
$input-focus-width:                 $button-focus-width !default;

$input-placeholder-color:           $text-muted !default;

$form-text-margin-top:              .25rem !default;
$form-text-font-size:               $small-font-size !default;
$form-text-color:                   $text-muted !default;

$form-check-input-gutter:           1.25rem !default;
$form-check-input-margin-y:         .3rem !default;
$form-check-input-margin-x:         .25rem !default;
$form-check-inline-margin-x:        .75rem !default;
$form-check-inline-input-margin-x:  .3125rem !default;

$form-group-margin-bottom:          $spacer !default;
