//
// Fonts
//

// stylelint-disable value-keyword-case
$font-family:            -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-monospace:  SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
// stylelint-enable value-keyword-case
$font-size:              1rem !default;
$font-weight-light:      300 !default;
$font-weight-normal:     400 !default;
$font-weight-bold:       700 !default;

//
// Color system
//

$white:      #fff !default;
$gray-100:   #f8f9fa !default;
$gray-200:   #e9ecef !default;
$gray-300:   #dee2e6 !default;
$gray-400:   #ced4da !default;
$gray-500:   #adb5bd !default;
$gray-600:   #6c757d !default;
$gray-700:   #495057 !default;
$gray-800:   #343a40 !default;
$gray-900:   #212529 !default;
$black:      #000 !default;

$muted:      $gray-600 !default;

$primary:    #007bff !default;
$secondary:  $gray-600 !default;
$light:      $gray-100 !default;
$dark:       $gray-900 !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold:  150 !default;
// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark:             $gray-900 !default;
$yiq-text-light:            $white !default;

//
// Components
//

$spacer:         1rem !default;
$line-height:    1.5 !default;
$border-width:   1px !default;
$border-radius:  .25rem !default;
$box-shadow:     0 .5rem 1rem rgba($black, .15) !default;

//
// Body
//

$body-font-family:  $font-family !default;
$body-font-size:    $font-size !default;
$body-font-weight:  $font-weight-normal !default;
$body-line-height:  $line-height !default;
$body-color:        $gray-900 !default;
$body-bg:           $white !default;

//
// Inline text elements
//

// Links

$link-color:             #007bff !default;
$link-hover-color:       #0056b3 !default;
$link-decoration:        none !default;
$link-hover-decoration:  underline !default;

// Small

$small-font-size:    80% !default;
$small-font-weight:  $font-weight-normal !default;

// Mark

$mark-padding:  .2em !default;
$mark-color:    $black !default;
$mark-bg:       #ffecb3 !default;

//
// Headings
//

$headings-font-family:  inherit !default;
$headings-font-weight:  500 !default;
$headings-line-height:  1.2 !default;
$headings-color:        inherit !default;

$h1-font-size:          $font-size * 2.5 !default;
$h2-font-size:          $font-size * 2 !default;
$h3-font-size:          $font-size * 1.75 !default;
$h4-font-size:          $font-size * 1.5 !default;
$h5-font-size:          $font-size * 1.25 !default;
$h6-font-size:          $font-size !default;

//
// Buttons
//

$button-padding-y:            .375rem !default;
$button-padding-x:            .75rem !default;
$button-font-size:            $font-size !default;
$button-font-weight:          $font-weight-normal !default;
$button-line-height:          $line-height !default;
$button-border-width:         $border-width !default;
$button-border-radius:        $border-radius !default;
$button-transition:           color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;
$button-focus-box-shadow:     0 0 0 1px #007bff !default;
$button-disabled-opacity:     .65 !default;

// Default
$button-color:                $gray-900 !default;
$button-bg:                   $gray-400 !default;
$button-border-color:         darken($button-bg, 3%) !default;
$button-hover-color:          $gray-900 !default;
$button-hover-bg:             darken($button-bg, 7%) !default;
$button-hover-border-color:   darken($button-hover-bg, 3%) !default;
$button-active-color:         $gray-900 !default;
$button-active-bg:            darken($button-bg, 12%) !default;
$button-active-border-color:  darken($button-active-bg, 3%) !default;

//
// Tables
//

$table-cell-padding:             .75rem !default;
$table-border-width:             $border-width !default;

// Default
$table-bg:                       transparent !default;
$table-accent-bg:                darken($light, 3%) !default;
$table-border-color:             $gray-300 !default;
$table-row-hover-color:          $gray-900 !default;
$table-row-hover-bg:             darken($light, 5%) !default;

// Light
$table-light-color:              $gray-900 !default;
$table-light-bg:                 $light !default;
$table-light-accent-bg:          darken($table-light-bg, 3%) !default;
$table-light-border-color:       $gray-300 !default;
$table-light-row-hover-color:    $gray-900 !default;
$table-light-row-hover-bg:       darken($table-light-bg, 5%) !default;

// Dark
$table-dark-color:               $white !default;
$table-dark-bg:                  $dark !default;
$table-dark-accent-bg:           darken($table-dark-bg, 3%) !default;
$table-dark-border-color:        #32383e !default;
$table-dark-row-hover-color:     $white !default;
$table-dark-row-hover-bg:        darken($table-dark-bg, 5%) !default;

// Light head
$table-head-light-color:         $gray-900 !default;
$table-head-light-bg:            darken($table-light-bg, 6%) !default;
$table-head-light-border-color:  $table-light-border-color !default;

// Dark head
$table-head-dark-color:          $white !default;
$table-head-dark-bg:             darken($table-dark-bg, 6%) !default;
$table-head-dark-border-color:   $table-dark-border-color !default;

// Caption
$table-caption-padding:          .75rem !default;
$table-caption-color:            $gray-600 !default;
$table-caption-text-align:       left !default;
$table-caption-side:             bottom !default;

// Striped rows
$table-striped-order:            odd !default;

//
// Blockquotes
//

$blockquote-padding-y:            .75rem !default;
$blockquote-padding-x:            1rem !default;
$blockquote-color:                $gray-900 !default;
$blockquote-bg:                   $light !default;
$blockquote-border-color:         $gray-300 !default;
$blockquote-border-top-width:     0 !default;
$blockquote-border-right-width:   0 !default;
$blockquote-border-bottom-width:  0 !default;
$blockquote-border-left-width:    8px !default;
$blockquote-border-radius:        $border-radius !default;

$blockquote-footer-font-size:     90% !default;
$blockquote-footer-color:         $gray-600 !default;

//
// Code
//

$code-font-size:     85% !default;
$code-color:         #e83e8c !default;

$pre-font-size:      $code-font-size !default;
$pre-color:          $gray-900 !default;

$kbd-padding:        .2rem .4rem !default;
$kbd-font-size:      85% !default;
$kbd-color:          $white !default;
$kbd-bg:             $dark !default;
$kbd-border-radius:  $border-radius !default;

//
// Horizontal rules
//

$hr-border-width:  $border-width !default;
$hr-border-color:  rgba($black, .1) !default;
