// Reboot
// =========================================

//
// Body
//

$body-font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$body-font-size:    1rem !default;
$body-font-weight:  400 !default;
$body-line-height:  1.5 !default;
$body-color:        #333 !default;
$body-bg:           #fff !default;

//
// Links
//

$link-color:             #007bff !default;
$link-hover-color:       #0056b3 !default;
$link-decoration:        none !default;
$link-hover-decoration:  underline !default;

//
// Headings
//

$headings-font-family:    inherit !default;
$headings-font-weight:    500 !default;
$headings-line-height:    1.2 !default;
$headings-color:          inherit !default;

$h1-font-size:  2.5rem !default;
$h2-font-size:  2rem !default;
$h3-font-size:  1.75rem !default;
$h4-font-size:  1.5rem !default;
$h5-font-size:  1.25rem !default;
$h6-font-size:  1rem !default;

//
// Blockquote
//

$blockquote-font-size:  1.25rem !default;

//
// Code
//

$font-family-monospace:  SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$code-font-size:      85% !default;
$code-color:          #e83e8c !default;

$pre-font-size:       $code-font-size !default;
$pre-color:           #333 !default;

$kbd-padding:         .2rem .4rem !default;
$kbd-font-size:       85% !default;
$kbd-color:           #fff !default;
$kbd-bg:              #222 !default;
$kbd-border-radius:   .25rem !default;

//
// Misc elements
//

$small-font-size:    80% !default;
$small-font-weight:  400 !default;

$mark-padding:  .2em !default;
$mark-bg:       #ffecb3 !default;
