<template to='bp:template'>
  {% macro myNameIs(name) %}
    <div class='hello-box'>Hello, my name is {{ name }}</div>
  {% endmacro %}
</template>

<style to='bp:sass'>
.hello-box {
  padding: 1rem;
  color: #fff;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.2;
  text-align: center;
  background-color: #ff5722;
  border: 1px solid #c74921;
  border-radius: .25rem;
}
</style>
