<template to='bp-template'>
  <b:comment>Show the `navbar-section-left` if it has any widgets or has any visible widgets.</b:comment>
  <b:if cond='data:widgets any (w =&gt; w.sectionId == "navbar-section-left")'>
    <b:section class='navbar-section-left d-lg-flex align-items-lg-center' id='navbar-section-left' name='Navbar left section — ### Please do not remove the custom gadgets in this section. ### If you want to hide the gadgets, you can edit and then uncheck the (Visible) option. ### You can reorder the gadgets. ### You can also move the gadgets to (Navbar right section).' showaddelement='no'>
      {% template "./navbar-section-left.part/Label1.njk" %}
      {% template "./navbar-section-left.part/LinkList1.njk" %}
      {% template "./navbar-section-left.part/PageList1.njk" %}
    </b:section>
  </b:if>
</template>
