::template::
<b:section class='b-section-footer' id='b-section-footer' maxwidgets='2' name='Footer' showaddelement='no'>
  {#==================================================
  Footer nav (using LinkList widget)
  ==================================================#}
  <b:widget id='LinkList1' locked='true' title='Footer nav' type='LinkList' visible='true'>
    <b:widget-settings>
      <b:widget-setting name='shownum'/>
      <b:widget-setting name='sorting'>NONE</b:widget-setting>
      <b:widget-setting name='text-0'>Blogger</b:widget-setting>
      <b:widget-setting name='link-0'>https://blogger.com/</b:widget-setting>
      <b:widget-setting name='text-1'>GitHub</b:widget-setting>
      <b:widget-setting name='link-1'>https://github.com/bloggerpack/bloggerpack</b:widget-setting>
    </b:widget-settings>
    <b:includable id='main'>
      <b:include name='content'/>
    </b:includable>
    <b:includable id='content'>
      <ul class='footer-nav-list'>
        <b:loop values='data:links' var='link'>
          <li class='footer-nav-item'>
            <a class='footer-nav-link' expr:href='data:link.target'>
              <data:link.name/>
            </a>
          </li>
        </b:loop>
      </ul>
    </b:includable>
  </b:widget>
  {#==================================================
  Footer description (using HTML widget)
  ==================================================#}
  <b:widget id='HTML1' locked='true' title='Footer text' type='HTML' visible='true'>
    <b:widget-settings>
      <b:widget-setting name='content'>
        <![CDATA[
          <p>© &lt;YEAR&gt; &lt;COPYRIGHT HOLDER&gt;. <a href="https://blogger.com/">Powered by Blogger</a>.</p>
        ]]>
      </b:widget-setting>
    </b:widget-settings>
    <b:includable id='main'>
      <div class='footer-description'>
        <data:content/>
      </div>
    </b:includable>
  </b:widget>
</b:section>
::endtemplate::

::skin::
/*
=================================================
Footer
=================================================
*/

/* Footer section
================================================= */

.b-section-footer > .widget {
  margin-bottom: 10px;
}
.b-section-footer > .widget:last-child {
  margin-bottom: 0;
}

/* Footer nav
================================================= */

/*
<Group description="(Footer) Nav">
  Footer nav link
  -----------------------

  <Variable name="footer.nav.link.font"
      description="Footer nav link font"
      type="font"
      size="16px"
      family="$(body.font.family)"
      default="normal normal $(size) $(family)"
      value="normal normal $(size) $(family)"/>
  <Variable name="footer.nav.link.color"
      description="Footer nav link color"
      type="color"
      default="#cccccc"
      value="#cccccc"/>
  <Variable name="footer.nav.link.hover.color"
      description="Footer nav link hover color"
      type="color"
      default="#ffffff"
      value="#ffffff"/>
</Group>
*/

/**
 * Footer nav list
 */

.footer-nav-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

/**
 * Footer nav item
 */

.footer-nav-item:not(:last-child) {
  margin-right: 10px;
}

/**
 * Footer nav link
 */

.footer-nav-link {
  display: block;
  color: $(footer.nav.link.color);
  font-size: $(footer.nav.link.font.size);
  font-family: $(footer.nav.link.font.family);
}
.footer-nav-link:hover,
.footer-nav-link:focus {
  color: $(footer.nav.link.hover.color);
  text-decoration: none;
}

/* Footer description
================================================= */

/*
<Group description="(Footer) Description">
  Footer description base class
  ----------------------

  <Variable name="footer.desc.font"
      description="Footer description font"
      type="font"
      size="14px"
      family="$(body.font.family)"
      default="normal normal $(size) $(family)"
      value="normal normal $(size) $(family)"/>
  <Variable name="footer.desc.color"
      description="Footer description color"
      type="color"
      default="#777777"
      value="#777777"/>

  Footer description links
  ----------------------

  <Variable name="footer.desc.link.color"
      description="Footer description link color"
      type="color"
      default="#cccccc"
      value="#cccccc"/>
  <Variable name="footer.desc.link.hover.color"
      description="Footer description link hover color"
      type="color"
      default="#ffffff"
      value="#ffffff"/>
</Group>
*/

/**
 * Footer description base class
 */

.footer-description {
  color: $(footer.desc.color);
  font-size: $(footer.desc.font.size);
  font-family: $(footer.desc.font.family);
}

/**
 * Footer description paragraphs
 */

.footer-description p {
  margin-top: 0;
  margin-bottom: 10px;
}
.footer-description p:last-child {
  margin-bottom: 0;
}

/**
 * Footer description links
 */

.footer-description a {
  color: $(footer.desc.link.color);
}
.footer-description a:hover,
.footer-description a:focus {
  color: $(footer.desc.link.hover.color);
}
::endskin::
