/*
# ==========================================================================
# Template path: src/template/example1.njk
# ==========================================================================
*/

.sass-in-template1 {
  display: block;
  color: $color;
}

/*
# ==========================================================================
# Template path: src/template/example2.njk
# ==========================================================================
*/

.sass-in-template2 {
  display: block;
  color: $color;
}

/*
# ==========================================================================
# Template path: src/template/example3.njk
# ==========================================================================
*/

/* Sass-in-Template is empty */
