//
// Menu
//

.archive-menu {
  width: 100%;
}

//
// Flat
//

.archive-flat {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  list-style: none;
}

//= Item

// .archive-flat-item {}

//= Link

// .archive-flat-link {}

//= Count

.archive-flat-count {
  font-size: 90%;
  color: #6c757d;
}

//
// Hierarchy
//

.archive-hierarchy-first,
.archive-hierarchy-second,
.archive-hierarchy-third {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  list-style: none;
}

.archive-hierarchy-first {
  padding-left: 0;
}

.archive-hierarchy-second {
  padding-left: 2rem;
}

.archive-hierarchy-third {
  padding-left: 2rem;
}

//= Item

// .archive-hierarchy-first-item {}
// .archive-hierarchy-second-item {}
// .archive-hierarchy-third-item {}

//= Details

// .archive-hierarchy-details {}

.archive-hierarchy-summary {
  cursor: default;
  outline: 0;
}

//= Link

// .archive-hierarchy-link {}

//= Count

.archive-hierarchy-count {
  font-size: 90%;
  color: #6c757d;
}
