//
// Menu
//

.archive-menu {
  width: 100%;
}

//
// Flat
//

.archive-flat {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  list-style: none;
}

//= Item

// .archive-flat-item {}

//= Link

// .archive-flat-link {}

//= Count

// .archive-flat-count {}

//
// Hierarchy
//

.archive-hierarchy-first,
.archive-hierarchy-second,
.archive-hierarchy-third {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  list-style: none;
}
.archive-hierarchy-first {
  padding-left: 0;
}
.archive-hierarchy-second,
.archive-hierarchy-third {
  padding-left: 2rem;
  margin-left: .25rem;
  border-left: 1px solid rgba(0, 0, 0, .125);
}
.archive-hierarchy-third {
  margin-bottom: .25rem;
}

//= Item

.archive-hierarchy-first-item,
.archive-hierarchy-second-item,
.archive-hierarchy-third-item {
  position: relative;
}
.archive-hierarchy-second-item::before,
.archive-hierarchy-third-item::before {
  position: absolute;
  top: 0;
  left: -2rem;
  color: rgba(0, 0, 0, .125);
  content: "\2014 \00A0";
}

//= Details

// .archive-hierarchy-details {}

.archive-hierarchy-summary {
  cursor: default;
  outline: 0;
}

//= Link

// .archive-hierarchy-link {}

//= Count

// .archive-hierarchy-count {}
