//
// Base class
//

// .featured-post {}

//
// Image
//

.featured-post-img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: .25rem;

  // No image
  // &.featured-post-noimg {}
}

//
// Title
//

.featured-post-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.1;
}

//= Title link

// .featured-post-title-link {}

//
// Snippet
//

// .featured-post-snippet {}

//= Snippet link

// .featured-post-snippet-link {}

//
// Divider
//

.featured-post-divider {
  margin-top: .75rem;
}
