//
// Base class
//

.image {
  margin: 0;
}

//
// Image
//

.image-img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: .25rem;
}

//
// Caption
//

.image-caption {
  margin-top: .5rem;
  margin-bottom: 0;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6c757d;
  text-align: left;
}
