//
// List
//

.label-list {
  display: flex;
  flex-direction: column;
}

//= Link

.label-list-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: .5rem 1rem;
  margin-bottom: -1px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: left;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .125);

  &:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
  }
  &:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
  }
  &:hover,
  &:focus {
    z-index: 1;
    color: #495057;
    text-decoration: none;
    background-color: #f8f9fa;
  }
  &:active {
    z-index: 3;
    background-color: darken(#f8f9fa, 2.5%);
  }
  &.active {
    z-index: 2;
    color: #495057;
    background-color: #f8f9fa;
  }
}

//= Count

.label-list-count {
  display: inline-block;
  padding: .25em .6em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #6c757d;
  border-radius: 10rem;
}
.active > .label-list-count {
  color: #fff;
  background-color: #6c757d;
}

//
// Cloud
//

.label-cloud {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 0;
  // stylelint-disable-next-line declaration-no-important
  margin-bottom: -.5rem !important;
  list-style: none;
}

//= Item

.label-cloud-item {
  margin-bottom: .5rem;
}
.label-cloud-item:not(:last-child) {
  margin-right: .5rem;
}

//= Link

.label-cloud-link {
  display: block;
  padding: .25rem .5rem;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25;
  color: #fff;
  text-align: left;
  white-space: nowrap;
  background-color: #6c757d;
  border-radius: .25rem;

  &:hover,
  &:focus {
    color: #fff;
    text-decoration: none;
    background-color: darken(#6c757d, 7.5%);
  }
  &:active {
    background-color: darken(#6c757d, 12.5%);
  }
  &.active {
    color: #fff;
    background-color: darken(#6c757d, 15%);
  }
}

//= Count

.label-cloud-count {
  position: relative;
  top: -1px;
  display: inline-block;
  padding: .25em .4em;
  margin-left: .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #f8f9fa;
  border-radius: .25rem;
}
.active > .label-cloud-count {
  color: #212529;
  background-color: #f8f9fa;
}
