//
// Base class
//

.popular-post {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
  text-align: left;

  &:last-child {
    margin-bottom: 0;
  }
}

//
// Image
//

.popular-post-img {
  margin-right: 1rem;
  border-radius: .25rem;

  // No Image
  // &.popular-post-noimg {}
}

//
// Body
//

.popular-post-body {
  flex: 1;
}

//
// Title
//

.popular-post-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.1;
}

//= Title link

// .popular-post-title-link {}

//
// Meta
//

.popular-post-meta {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: .5rem;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6c757d;
  list-style: none;

  &:last-child {
    margin-bottom: 0;
  }
}

//= Meta item

.popular-post-meta-item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: .5rem;
  }
}

//= Meta link

.popular-post-meta-link {
  color: #6c757d;

  &:hover {
    color: #343a40;
    text-decoration: none;
  }
}

//
// Snippet
//

.popular-post-snippet {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
