/*
# ==========================================================================
# Template path: src/template/example1.njk
# ==========================================================================
*/

.skin-in-template1 {
  display: block;
  color: $(color);
}

/*
# ==========================================================================
# Template path: src/template/example2.njk
# ==========================================================================
*/

.skin-in-template2 {
  display: block;
  color: $(color);
}

/*
# ==========================================================================
# Template path: src/template/example3.njk
# ==========================================================================
*/

/* Skin-in-Template is empty */
